@import '../_var'

.hero-banner.about-banner
    position: relative
    color: white
    overflow: hidden
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    @include media(1024)
        height: 70vh
    @include media(991)
        height: 60vh
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: linear-gradient(360deg, rgba(0, 0, 0, 0) 63.46%, rgba(0, 0, 0, 0.85) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 31.73%, rgba(0, 0, 0, 0.85) 94.72%)
    .bg
        img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            object-fit: cover
            z-index: -1
    .bg-wrapper
        position: absolute
        bottom: 5%
        left: 50%
        transform: translate(-50%, -50%)
        text-align: center
        width: 100%
        @include media(540)
            top: inherit
            bottom: 10%
        h1
            font-weight: 400
            font-size: 48px
            text-align: center
            color: white
            line-height: 1.1
            max-width: none
            @include media(540)
                font-weight: 600
                font-size: 38px
                margin-bottom: 10px
        p
            font-family: Lato
            font-weight: 500
            font-size: 20px
            text-align: center
            color: white
            max-width: none
            margin: 10px 0 0 
            @include media(540)
                max-width: 80%
                margin: auto

.about-secA
    background: #fff9f2
    padding: 50px 0
    @include media(540)
        padding: 30px 0
    .flex-box
        display: flex
        justify-content: space-between
        align-items: center
        @include media(768)
            flex-direction: column
            align-items: center
            justify-content: center
            gap: 40px
        .col:first-child
            flex: 0 1 42%
            @include media(768)
                text-align: center
            h2
                margin-bottom: 26px
            p
                &:not(:last-child)
                    margin-bottom: 16px
                b
                    @include font(700)

        .col:last-child
            flex: 0 1 58%
            display: flex
            justify-content: right
            align-items: center
            figure
                width: 405px
                height: 412px
                position: relative
                video
                    width: 100%
                    height: 100%
                    object-fit: cover
                    -webkit-mask-image: url(../../../public/assets/vector/diamond-vector.png)
                    mask-image: url(../../../public/assets/vector/diamond-vector.png)
                    -webkit-mask-repeat: no-repeat
                    mask-repeat: no-repeat
                    -webkit-mask-position: center
                    mask-position: center
                    -webkit-mask-size: 405px
                    mask-size: 405px
                    -o-object-position: top center
                    object-position: top center
                    background-size: cover
                    background-position: top center
                &::before
                    content: ""
                    position: absolute
                    background: url('../../../public/assets/vector/c-vector.svg')
                    width: 273px
                    height: 416px
                    background-repeat: no-repeat
                    left: -173px

.about-secB
    background: linear-gradient(180deg, #FBF0E6 0%, #F5DBC1 100%)
    .top-flex-box
        display: flex
        @include media(540)
            display: initial
        .col:first-child
            flex: 0 1 27%
            border-bottom: 1px solid #DDBE9F66
        .col:last-child
            flex: 0 1 73%
            display: flex
            @include media(540)
                display: initial
            .col-child:last-child
                flex: 0 1 40%
            .col-child:first-child
                flex: 0 1 60%
                border-left: 1px solid #DDBE9F66
                border-right: 1px solid #DDBE9F66
                h2
                    text-align: center
                    padding: 60px 0
                    font-size: 48px
                    @include media(540)
                        padding: 30px 0px 10px 0px
                        font-size: 38px
    .bottom-flex-box
        display: flex
        @include media(540)
            display: none
        .col:first-child
            flex: 0 1 27%
            border-top: 1px solid #DDBE9F66
        .col:last-child
            flex: 0 1 73%
            display: flex
            .col-child:last-child
                flex: 0 1 40%
            .col-child:first-child
                flex: 0 1 60%
                border-left: 1px solid #DDBE9F66
                border-right: 1px solid #DDBE9F66
                h2
                    text-align: center
                    padding: 60px 0
                    @include media(768)
                        padding: 40px 0
            
    .flex-box
        display: flex
        @include media(768)
            flex-direction: column
        .col:first-child
            flex: 0 1 27%
            .tab-nav
                height: 47vh
                width: 100%
                display: flex
                justify-content: center
                align-items: center
                @include media(768)
                    height: fit-content
                    padding: 20px 0
                @include media(540)
                    padding: 10px 0 30px 0
                ul
                    margin-right: 100px
                    @include media(768)
                        margin-right: 0
                        display: flex
                        gap: 30px
                    li
                        font-family: Lato
                        font-weight: 700
                        font-size: 24px
                        line-height: 24px
                        color: #0000004D
                        transition: 0.7s ease
                        padding-bottom: 20px
                        position: relative
                        cursor: pointer
                        @include media(540)
                            padding-bottom: 0
                            font-size: 20px
                        &:hover
                            color: rgb(0 0 0 / 43%)
                        &::before
                            content: ""
                            position: absolute
                            top: 32%
                            left: -290%
                            transform: translate(-50%,-50%)
                            width: 400px
                            height: 2px
                            background: $black
                            transition: 0.7s ease
                            opacity: 0
                            @include media(768)
                                content: none
                            @include media(540)
                                content: ""
                                top: 110%
                                left: 0
                                width: 0%
                                transform: initial
                        &.active
                            color: $black
                            &::before
                                opacity: 1
                                left: -230%
                                @include media(540)
                                    width: 100%
                                    left: 0%
                                    transform: initial
        .col:last-child
            flex: 0 1 73%
            min-width: 0
            .tab-nav-content
                .tabs
                    display: flex
                    overflow: hidden
                    @include media(540)
                        flex-direction: column
                    &.active
                        .col-child:first-child
                            figure
                                img    
                                    transform: translateY(0%)
                                    opacity: 1
                        .col-child:last-child
                            .content
                                p
                                    opacity: 1
                                    transform: translateY(0%)
                    .col-child:last-child
                        flex: 0 1 40%
                        min-width: 0
                    .col-child:first-child
                        flex: 0 1 60%
                        .image-slider
                            height: 47vh
                        figure
                            height: 47vh
                            width: 100%
                            line-height: 0
                            border: 1px solid #DDBE9F66
                            @include media(768)
                                height: 22vh
                            @include media(540)
                                height: auto
                                border: none
                            img
                                width: 100%
                                height: 100%
                                object-fit: cover
                                opacity: 0
                                transition: 0.9s ease
                                transform: translateY(110%)
                    .col-child:last-child
                        .content
                            height: 47vh
                            width: 100%
                            border-top: 1px solid #DDBE9F66
                            border-bottom: 1px solid #DDBE9F66
                            display: flex
                            justify-content: center
                            align-items: center
                            padding: 0 50px
                            @include media(768)
                                height: 22vh
                            @include media(540)
                                height: auto
                                padding: 30px 0
                                width: 90%
                                margin: auto
                                text-align: center
                            .text-slider
                                height: 47vh
                                .swiper-wrapper
                                    .swiper-slide
                                        display: flex
                                        align-items: center
                            p
                                font-family: Lato
                                font-weight: 300
                                font-size: 24px
                                line-height: 35px
                                width: 360px
                                color: $black
                                opacity: 0
                                transition: 0.9s ease
                                transform: translateY(160%)
                                @include media(1024)
                                    width: auto
                                @include media(540)
                                    font-size: 20px
                                    line-height: 1.4
                                strong
                                    font-weight: 700

.about-secC
    background: #AF694F
    padding: 70px 0
    @include media(1024)
        padding: 50px 0
