@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.hero-banner.about-banner .video-wrapper::before {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 63.46%, rgba(0, 0, 0, 0.85) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 31.73%, rgba(0, 0, 0, 0.85) 94.72%);
}
.hero-banner.about-banner .bg-wrapper {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
@media only screen and (max-width: 540px) {
  .hero-banner.about-banner .bg-wrapper {
    top: inherit;
    bottom: 10%;
  }
}
.hero-banner.about-banner .bg-wrapper h1 {
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  color: white;
  line-height: 1.1;
  max-width: none;
}
.hero-banner.about-banner .bg-wrapper p {
  max-width: none;
  margin: 10px 0 0;
}

.about-secA {
  background: #fff9f2;
  padding: 50px 0;
}
@media only screen and (max-width: 540px) {
  .about-secA {
    padding: 30px 0;
  }
}
.about-secA .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .about-secA .flex-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}
.about-secA .flex-box .col:first-child {
  flex: 0 1 42%;
}
@media only screen and (max-width: 768px) {
  .about-secA .flex-box .col:first-child {
    text-align: center;
  }
}
.about-secA .flex-box .col:first-child h2 {
  margin-bottom: 26px;
}
.about-secA .flex-box .col:first-child p:not(:last-child) {
  margin-bottom: 16px;
}
.about-secA .flex-box .col:first-child p b {
  font-weight: 700;
}
.about-secA .flex-box .col:last-child {
  flex: 0 1 58%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.about-secA .flex-box .col:last-child figure {
  width: 405px;
  height: 412px;
  position: relative;
}
.about-secA .flex-box .col:last-child figure video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-image: url(/assets/vector/diamond-vector.png);
  mask-image: url(/assets/vector/diamond-vector.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 405px;
  mask-size: 405px;
  -o-object-position: top center;
  object-position: top center;
  background-size: cover;
  background-position: top center;
}
.about-secA .flex-box .col:last-child figure::before {
  content: "";
  position: absolute;
  background: url("../../../public/assets/vector/c-vector.svg");
  width: 273px;
  height: 416px;
  background-repeat: no-repeat;
  left: -173px;
}

.about-secB {
  background: linear-gradient(180deg, #FBF0E6 0%, #F5DBC1 100%);
}
.about-secB .top-flex-box {
  display: flex;
}
@media only screen and (max-width: 540px) {
  .about-secB .top-flex-box {
    display: initial;
  }
}
.about-secB .top-flex-box .col:first-child {
  flex: 0 1 27%;
  border-bottom: 1px solid rgba(221, 190, 159, 0.4);
}
.about-secB .top-flex-box .col:last-child {
  flex: 0 1 73%;
  display: flex;
}
@media only screen and (max-width: 540px) {
  .about-secB .top-flex-box .col:last-child {
    display: initial;
  }
}
.about-secB .top-flex-box .col:last-child .col-child:last-child {
  flex: 0 1 40%;
}
.about-secB .top-flex-box .col:last-child .col-child:first-child {
  flex: 0 1 60%;
  border-left: 1px solid rgba(221, 190, 159, 0.4);
  border-right: 1px solid rgba(221, 190, 159, 0.4);
}
.about-secB .top-flex-box .col:last-child .col-child:first-child h2 {
  text-align: center;
  padding: 60px 0;
  font-size: 48px;
}
@media only screen and (max-width: 540px) {
  .about-secB .top-flex-box .col:last-child .col-child:first-child h2 {
    padding: 30px 0px 10px 0px;
    font-size: 38px;
  }
}
.about-secB .bottom-flex-box {
  display: flex;
}
@media only screen and (max-width: 540px) {
  .about-secB .bottom-flex-box {
    display: none;
  }
}
.about-secB .bottom-flex-box .col:first-child {
  flex: 0 1 27%;
  border-top: 1px solid rgba(221, 190, 159, 0.4);
}
.about-secB .bottom-flex-box .col:last-child {
  flex: 0 1 73%;
  display: flex;
}
.about-secB .bottom-flex-box .col:last-child .col-child:last-child {
  flex: 0 1 40%;
}
.about-secB .bottom-flex-box .col:last-child .col-child:first-child {
  flex: 0 1 60%;
  border-left: 1px solid rgba(221, 190, 159, 0.4);
  border-right: 1px solid rgba(221, 190, 159, 0.4);
}
.about-secB .bottom-flex-box .col:last-child .col-child:first-child h2 {
  text-align: center;
  padding: 60px 0;
}
@media only screen and (max-width: 768px) {
  .about-secB .bottom-flex-box .col:last-child .col-child:first-child h2 {
    padding: 40px 0;
  }
}
.about-secB .flex-box {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .about-secB .flex-box {
    flex-direction: column;
  }
}
.about-secB .flex-box .col:first-child {
  flex: 0 1 27%;
}
.about-secB .flex-box .col:first-child .tab-nav {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .about-secB .flex-box .col:first-child .tab-nav {
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px 0;
  }
}
@media only screen and (max-width: 540px) {
  .about-secB .flex-box .col:first-child .tab-nav {
    padding: 10px 0 30px 0;
  }
}
.about-secB .flex-box .col:first-child .tab-nav ul {
  margin-right: 100px;
}
@media only screen and (max-width: 768px) {
  .about-secB .flex-box .col:first-child .tab-nav ul {
    margin-right: 0;
    display: flex;
    gap: 30px;
  }
}
.about-secB .flex-box .col:first-child .tab-nav ul li {
  font-family: Lato;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3019607843);
  transition: 0.7s ease;
  padding-bottom: 20px;
  position: relative;
  cursor: pointer;
}
@media only screen and (max-width: 540px) {
  .about-secB .flex-box .col:first-child .tab-nav ul li {
    padding-bottom: 0;
    font-size: 20px;
  }
}
.about-secB .flex-box .col:first-child .tab-nav ul li:hover {
  color: rgba(0, 0, 0, 0.43);
}
.about-secB .flex-box .col:first-child .tab-nav ul li::before {
  content: "";
  position: absolute;
  top: 32%;
  left: -290%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 2px;
  background: var(--black);
  transition: 0.7s ease;
  opacity: 0;
}
@media only screen and (max-width: 768px) {
  .about-secB .flex-box .col:first-child .tab-nav ul li::before {
    content: none;
  }
}
@media only screen and (max-width: 540px) {
  .about-secB .flex-box .col:first-child .tab-nav ul li::before {
    content: "";
    top: 110%;
    left: 0;
    width: 0%;
    transform: initial;
  }
}
.about-secB .flex-box .col:first-child .tab-nav ul li.active {
  color: var(--black);
}
.about-secB .flex-box .col:first-child .tab-nav ul li.active::before {
  opacity: 1;
  left: -230%;
}
@media only screen and (max-width: 540px) {
  .about-secB .flex-box .col:first-child .tab-nav ul li.active::before {
    width: 100%;
    left: 0%;
    transform: initial;
  }
}
.about-secB .flex-box .col:last-child {
  flex: 0 1 73%;
  min-width: 0;
}
.about-secB .flex-box .col:last-child .tab-nav-content .tabs {
  display: flex;
  overflow: hidden;
}
@media only screen and (max-width: 540px) {
  .about-secB .flex-box .col:last-child .tab-nav-content .tabs {
    flex-direction: column;
  }
}
.about-secB .flex-box .col:last-child .tab-nav-content .tabs.active .col-child:first-child figure img {
  transform: translateY(0%);
  opacity: 1;
}
.about-secB .flex-box .col:last-child .tab-nav-content .tabs.active .col-child:last-child .content p {
  opacity: 1;
  transform: translateY(0%);
}
.about-secB .flex-box .col:last-child .tab-nav-content .tabs .col-child:last-child {
  flex: 0 1 40%;
  min-width: 0;
}
.about-secB .flex-box .col:last-child .tab-nav-content .tabs .col-child:first-child {
  flex: 0 1 60%;
}
.about-secB .flex-box .col:last-child .tab-nav-content .tabs .col-child:first-child .image-slider {
  height: 60vh;
}
.about-secB .flex-box .col:last-child .tab-nav-content .tabs .col-child:first-child figure {
  height: 100%;
  width: 100%;
  line-height: 0;
  border: 1px solid rgba(221, 190, 159, 0.4);
}
@media only screen and (max-width: 768px) {
  .about-secB .flex-box .col:last-child .tab-nav-content .tabs .col-child:first-child figure {
    height: 22vh;
  }
}
@media only screen and (max-width: 540px) {
  .about-secB .flex-box .col:last-child .tab-nav-content .tabs .col-child:first-child figure {
    height: auto;
    border: none;
  }
}
.about-secB .flex-box .col:last-child .tab-nav-content .tabs .col-child:first-child figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  transition: 0.9s ease;
  transform: translateY(110%);
}
.about-secB .flex-box .col:last-child .tab-nav-content .tabs .col-child:last-child .content {
  height: 60vh;
  width: 100%;
  border-top: 1px solid rgba(221, 190, 159, 0.4);
  border-bottom: 1px solid rgba(221, 190, 159, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}
@media only screen and (max-width: 768px) {
  .about-secB .flex-box .col:last-child .tab-nav-content .tabs .col-child:last-child .content {
    height: 22vh;
  }
}
@media only screen and (max-width: 540px) {
  .about-secB .flex-box .col:last-child .tab-nav-content .tabs .col-child:last-child .content {
    height: auto;
    padding: 30px 0;
    width: 90%;
    margin: auto;
    text-align: center;
  }
}
.about-secB .flex-box .col:last-child .tab-nav-content .tabs .col-child:last-child .content .text-slider {
  height: 47vh;
}
.about-secB .flex-box .col:last-child .tab-nav-content .tabs .col-child:last-child .content .text-slider .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
}
.about-secB .flex-box .col:last-child .tab-nav-content .tabs .col-child:last-child .content p {
  font-family: Lato;
  font-weight: 300;
  font-size: 24px;
  line-height: 35px;
  width: 360px;
  color: var(--black);
  opacity: 0;
  transition: 0.9s ease;
  transform: translateY(160%);
}
@media only screen and (max-width: 1024px) {
  .about-secB .flex-box .col:last-child .tab-nav-content .tabs .col-child:last-child .content p {
    width: auto;
  }
}
@media only screen and (max-width: 540px) {
  .about-secB .flex-box .col:last-child .tab-nav-content .tabs .col-child:last-child .content p {
    font-size: 20px;
    line-height: 1.4;
  }
}
.about-secB .flex-box .col:last-child .tab-nav-content .tabs .col-child:last-child .content p strong {
  font-weight: 700;
}

.about-secC {
  padding: 70px 0;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 540px) {
  .about-secC {
    padding: 50px 0;
  }
}
.about-secC::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #FFF9F1 35.65%, rgba(255, 255, 255, 0.1) 78.24%);
  z-index: 1;
}
.about-secC video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  opacity: 0.5;
}
.about-secC .container {
  position: relative;
  z-index: 2;
}
.about-secC .container h2 {
  text-align: center;
}
.about-secC .container .row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  gap: 150px;
  align-items: center;
}
.about-secC .container .row .left {
  min-width: 0;
}
.about-secC .container .row .left .swiper .swiper-wrapper .swiper-slide p {
  font-size: 24px;
  color: var(--black);
  font-weight: 700;
  line-height: 1.3;
}
.about-secC .container .row .middle .swiper {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  overflow: visible;
  height: 364px;
}
.about-secC .container .row .middle .swiper .swiper-wrapper .swiper-slide {
  transition: 1.5s ease-in;
}
.about-secC .container .row .middle .swiper .swiper-wrapper .swiper-slide figure {
  height: 364px;
  border: 1px solid var(--primary);
  width: 322px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.about-secC .container .row .middle .swiper .swiper-wrapper .swiper-slide figure img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-secC .container .row .middle .swiper .swiper-wrapper .swiper-slide figure figcaption {
  background: var(--primary);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 16px;
}
.about-secC .container .row .middle .swiper .swiper-wrapper .swiper-slide figure figcaption p {
  font-size: 24px;
  color: var(--white);
  font-weight: 600;
}
.about-secC .container .row .middle .swiper .swiper-wrapper .swiper-slide.swiper-slide-active {
  transform: rotate(0);
}
.about-secC .container .row .middle .swiper .swiper-wrapper .swiper-slide.swiper-slide-next {
  transform: rotate(-10deg);
}
.about-secC .container .row .right {
  min-width: 0;
}
.about-secC .container .timeline {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.about-secC .container .timeline .timeline-prev, .about-secC .container .timeline .timeline-next {
  width: 46px;
  height: 46px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
}
.about-secC .container .timeline .timeline-prev:hover, .about-secC .container .timeline .timeline-next:hover {
  background: var(--primary);
}
.about-secC .container .timeline .timeline-prev:hover img, .about-secC .container .timeline .timeline-next:hover img {
  filter: invert(0) brightness(100);
  transition: 0.4s ease;
}
.about-secC .container .timeline .timeline-prev {
  transform: scaleX(-1);
}
.about-secC .container .timeline .timeline-year {
  display: flex;
  gap: 80px;
  position: relative;
}
.about-secC .container .timeline .timeline-year::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: var(--primary);
}
.about-secC .container .timeline .timeline-year .timeline-tab {
  position: relative;
  padding-top: 24px;
  cursor: pointer;
}
.about-secC .container .timeline .timeline-year .timeline-tab::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--white);
  border: 1px solid var(--primary);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -8px;
  transition: 0.4s ease;
}
.about-secC .container .timeline .timeline-year .timeline-tab.active p {
  color: var(--primary);
}
.about-secC .container .timeline .timeline-year .timeline-tab.active::before {
  background: var(--primary);
}

.about-secD {
  background: linear-gradient(180deg, #FFF9F1 0%, #FFF1DE 100%);
}
.about-secD .container .row {
  display: flex;
  gap: 100px;
  align-items: center;
}
.about-secD .container .row .col {
  flex: 0 1 50%;
}
.about-secD .container .row .col:first-child {
  padding: 70px 0;
}
@media only screen and (max-width: 1024px) {
  .about-secD .container .row .col:first-child {
    padding: 50px 0;
  }
}
.about-secD .container .row .col:first-child p {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
}
.about-secD .container .row .col:first-child .quote {
  margin: 42px 0 28px 0;
}
.about-secD .container .row .col:first-child .info {
  margin-top: 42px;
  display: flex;
  align-items: center;
  gap: 100px;
}
.about-secD .container .row .col:first-child .info figcaption h4 {
  font-size: 28px;
  font-weight: 600;
}
.about-secD .container .row .col:first-child .info figcaption p {
  font-size: 14px;
}
.about-secD .container .row .col:first-child .info figure img {
  width: 41px;
  height: 41px;
}
.about-secD .container .row .col:last-child figure img {
  display: block;
}

.about-secE {
  padding: 70px 0;
}
@media only screen and (max-width: 540px) {
  .about-secE {
    padding: 50px 0;
  }
}
.about-secE .container h2 {
  text-align: center;
}
.about-secE .container .row {
  position: relative;
  margin-top: 70px;
}
.about-secE .container .row .swiper {
  overflow: hidden;
}
.about-secE .container .row .swiper .swiper-wrapper .swiper-slide {
  width: 570px;
  height: 419px;
  border-radius: 10px;
  overflow: hidden;
}
.about-secE .container .row .swiper .swiper-wrapper .swiper-slide figure {
  height: 100%;
  width: 100%;
  position: relative;
}
.about-secE .container .row .swiper .swiper-wrapper .swiper-slide figure::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}
.about-secE .container .row .swiper .swiper-wrapper .swiper-slide figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.about-secE .container .row .swiper .swiper-wrapper .swiper-slide figure figcaption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 24px;
  text-align: center;
  font-family: Lato;
  color: white;
  font-size: 20px;
  opacity: 0;
  transition: 0.5s ease;
}
.about-secE .container .row .swiper .swiper-wrapper .swiper-slide.swiper-slide-active figcaption {
  opacity: 100%;
}
.about-secE .container .row .swiper-nav {
  max-width: 60%;
}
.about-secE .container .row .swiper-nav .swiper-prev, .about-secE .container .row .swiper-nav .swiper-next {
  background: var(--white);
}
.about-secE .container .row .swiper-nav .swiper-prev:hover, .about-secE .container .row .swiper-nav .swiper-next:hover {
  background: var(--primary);
}
.about-secE .container .row .swiper-nav .swiper-prev:hover img, .about-secE .container .row .swiper-nav .swiper-next:hover img {
  filter: invert(0) brightness(100);
  transition: 0.5s ease;
}/*# sourceMappingURL=about.css.map */