@import '../_var'

.hero-banner.about-banner
    position: relative
    color: white
    overflow: hidden
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    @include media(1024)
        height: 70vh
    @include media(991)
        height: 60vh
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: linear-gradient(360deg, rgba(0, 0, 0, 0) 63.46%, rgba(0, 0, 0, 0.85) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 31.73%, rgba(0, 0, 0, 0.85) 94.72%)
    .bg
        img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            object-fit: cover
            z-index: -1
    .bg-wrapper
        position: absolute
        bottom: 5%
        left: 50%
        transform: translate(-50%, -50%)
        text-align: center
        width: 100%
        @include media(540)
            top: inherit
            bottom: 10%
        h1
            font-weight: 400
            font-size: 48px
            text-align: center
            color: white
            line-height: 1.1
            max-width: none
            @include media(540)
                font-weight: 600
                font-size: 38px
                margin-bottom: 10px
        p
            font-family: Lato
            font-weight: 500
            font-size: 20px
            text-align: center
            color: white
            max-width: none
            margin: 10px 0 0
            @include media(540)
                max-width: 80%
                margin: auto

.about-secA
    background: #fff9f2
    padding: 50px 0
    @include media(540)
        padding: 30px 0
    .flex-box
        display: flex
        justify-content: space-between
        align-items: center
        @include media(768)
            flex-direction: column
            align-items: center
            justify-content: center
            gap: 40px
        .col:first-child
            flex: 0 1 42%
            @include media(768)
                text-align: center
            h2
                margin-bottom: 26px
            p
                &:not(:last-child)
                    margin-bottom: 16px
                b
                    @include font(700)

        .col:last-child
            flex: 0 1 58%
            display: flex
            justify-content: right
            align-items: center
            figure
                width: 405px
                height: 412px
                position: relative
                video
                    width: 100%
                    height: 100%
                    object-fit: cover
                    -webkit-mask-image: url(../../../public/assets/vector/diamond-vector.png)
                    mask-image: url(../../../public/assets/vector/diamond-vector.png)
                    -webkit-mask-repeat: no-repeat
                    mask-repeat: no-repeat
                    -webkit-mask-position: center
                    mask-position: center
                    -webkit-mask-size: 405px
                    mask-size: 405px
                    -o-object-position: top center
                    object-position: top center
                    background-size: cover
                    background-position: top center
                &::before
                    content: ""
                    position: absolute
                    background: url('../../../public/assets/vector/c-vector.svg')
                    width: 273px
                    height: 416px
                    background-repeat: no-repeat
                    left: -173px

.about-secB
    background: linear-gradient(180deg, #FBF0E6 0%, #F5DBC1 100%)
    .top-flex-box
        display: flex
        @include media(540)
            display: initial
        .col:first-child
            flex: 0 1 27%
            border-bottom: 1px solid #DDBE9F66
        .col:last-child
            flex: 0 1 73%
            display: flex
            @include media(540)
                display: initial
            .col-child:last-child
                flex: 0 1 40%
            .col-child:first-child
                flex: 0 1 60%
                border-left: 1px solid #DDBE9F66
                border-right: 1px solid #DDBE9F66
                h2
                    text-align: center
                    padding: 60px 0
                    font-size: 48px
                    @include media(540)
                        padding: 30px 0px 10px 0px
                        font-size: 38px
    .bottom-flex-box
        display: flex
        @include media(540)
            display: none
        .col:first-child
            flex: 0 1 27%
            border-top: 1px solid #DDBE9F66
        .col:last-child
            flex: 0 1 73%
            display: flex
            .col-child:last-child
                flex: 0 1 40%
            .col-child:first-child
                flex: 0 1 60%
                border-left: 1px solid #DDBE9F66
                border-right: 1px solid #DDBE9F66
                h2
                    text-align: center
                    padding: 60px 0
                    @include media(768)
                        padding: 40px 0

    .flex-box
        display: flex
        @include media(768)
            flex-direction: column
        .col:first-child
            flex: 0 1 27%
            .tab-nav
                height: 47vh
                width: 100%
                display: flex
                justify-content: center
                align-items: center
                @include media(768)
                    height: fit-content
                    padding: 20px 0
                @include media(540)
                    padding: 10px 0 30px 0
                ul
                    margin-right: 100px
                    @include media(768)
                        margin-right: 0
                        display: flex
                        gap: 30px
                    li
                        font-family: Lato
                        font-weight: 700
                        font-size: 24px
                        line-height: 24px
                        color: #0000004D
                        transition: 0.7s ease
                        padding-bottom: 20px
                        position: relative
                        cursor: pointer
                        @include media(540)
                            padding-bottom: 0
                            font-size: 20px
                        &:hover
                            color: rgb(0 0 0 / 43%)
                        &::before
                            content: ""
                            position: absolute
                            top: 32%
                            left: -290%
                            transform: translate(-50%,-50%)
                            width: 400px
                            height: 2px
                            background: $black
                            transition: 0.7s ease
                            opacity: 0
                            @include media(768)
                                content: none
                            @include media(540)
                                content: ""
                                top: 110%
                                left: 0
                                width: 0%
                                transform: initial
                        &.active
                            color: $black
                            &::before
                                opacity: 1
                                left: -230%
                                @include media(540)
                                    width: 100%
                                    left: 0%
                                    transform: initial
        .col:last-child
            flex: 0 1 73%
            min-width: 0
            .tab-nav-content
                .tabs
                    display: flex
                    overflow: hidden
                    @include media(540)
                        flex-direction: column
                    &.active
                        .col-child:first-child
                            figure
                                img
                                    transform: translateY(0%)
                                    opacity: 1
                        .col-child:last-child
                            .content
                                p
                                    opacity: 1
                                    transform: translateY(0%)
                    .col-child:last-child
                        flex: 0 1 40%
                        min-width: 0
                    .col-child:first-child
                        flex: 0 1 60%
                        .image-slider
                            height: 47vh
                        figure
                            height: 47vh
                            width: 100%
                            line-height: 0
                            border: 1px solid #DDBE9F66
                            @include media(768)
                                height: 22vh
                            @include media(540)
                                height: auto
                                border: none
                            img
                                width: 100%
                                height: 100%
                                object-fit: cover
                                opacity: 0
                                transition: 0.9s ease
                                transform: translateY(110%)
                    .col-child:last-child
                        .content
                            height: 47vh
                            width: 100%
                            border-top: 1px solid #DDBE9F66
                            border-bottom: 1px solid #DDBE9F66
                            display: flex
                            justify-content: center
                            align-items: center
                            padding: 0 50px
                            @include media(768)
                                height: 22vh
                            @include media(540)
                                height: auto
                                padding: 30px 0
                                width: 90%
                                margin: auto
                                text-align: center
                            .text-slider
                                height: 47vh
                                .swiper-wrapper
                                    .swiper-slide
                                        display: flex
                                        align-items: center
                            p
                                font-family: Lato
                                font-weight: 300
                                font-size: 24px
                                line-height: 35px
                                width: 360px
                                color: $black
                                opacity: 0
                                transition: 0.9s ease
                                transform: translateY(160%)
                                @include media(1024)
                                    width: auto
                                @include media(540)
                                    font-size: 20px
                                    line-height: 1.4
                                strong
                                    font-weight: 700

.about-secC
    padding: 70px 0
    position: relative
    overflow: hidden
    @include media(540)
        padding: 50px 0
    &::before
        content: ""
        position: absolute
        inset: 0
        background: linear-gradient(180deg, #FFF9F1 35.65%, rgba(255, 255, 255, 0.1) 78.24%)
        z-index: 1
    video
        position: absolute
        inset: 0
        width: 100%
        height: 100%
        object-fit: cover
        z-index: 0
        opacity: .5
    .container
        position: relative
        z-index: 2
        h2
            text-align: center
        .row
            margin-top: 70px
            display: flex
            justify-content: space-between
            gap: 150px
            align-items: center
            .left
                min-width: 0
                .swiper
                    .swiper-wrapper
                        .swiper-slide
                            p
                                font-size: 24px
                                color: $black
                                @include font(700)
                                line-height: 1.3

            .middle
                
                .swiper
                    width: fit-content
                    margin: 0 auto
                    overflow: visible
                    height: 364px
                    .swiper-wrapper
                        .swiper-slide
                            transition: 1.5s ease-in
                            figure
                                height: 364px
                                border: 1px solid $primary
                                width: 322px
                                border-radius: 10px
                                overflow: hidden
                                position: relative
                                img
                                    display: block
                                    width: 100%
                                    height: 100%
                                    object-fit: cover
                                figcaption
                                    background: $primary
                                    position: absolute
                                    left: 0
                                    right: 0
                                    bottom: 0
                                    text-align: center
                                    padding: 16px
                                    p
                                        font-size: 24px
                                        color: $white
                                        @include font(600)
                            &.swiper-slide-active
                                transform: rotate(0)
                            &.swiper-slide-next
                                transform: rotate(-10deg)
            .right
                min-width: 0
                
        .timeline
            margin-top: 70px
            display: flex
            align-items: center
            justify-content: center
            gap: 50px
            .timeline-prev, .timeline-next
                width: 46px
                height: 46px
                border: 1px solid $primary
                border-radius: 50%
                margin-bottom: 40px
                display: flex
                justify-content: center
                align-items: center
                transition: .4s ease
                &:hover
                    background: $primary
                    img
                        filter: invert(0) brightness(100)
                        transition: .4s ease
            .timeline-prev
                transform: scaleX(-1)
            .timeline-year
                display: flex
                gap: 80px
                position: relative
                &::before
                    content: ""
                    position: absolute
                    height: 1px
                    width: 100%
                    background: $primary
                .timeline-tab
                    position: relative
                    padding-top: 24px
                    cursor: pointer
                    &::before
                        position: absolute
                        content: ""
                        width: 16px
                        height: 16px
                        border-radius: 50%
                        background: $white
                        border: 1px solid $primary
                        position: absolute
                        left: 50%
                        transform: translateX(-50%)
                        top: -8px
                        transition: 0.4s ease
                    &.active
                        p
                            color: $primary
                        &::before
                            background: $primary

.about-secD
    background: linear-gradient(180deg, #FFF9F1 0%, #FFF1DE 100%)
    .container
        .row
            display: flex
            gap: 100px
            align-items: center
            .col
                flex: 0 1 50%
                &:first-child
                    padding: 70px 0
                    @include media(1024)
                        padding: 50px 0
                    h2
                    p
                        font-size: 24px
                        @include font(600)
                        line-height: 1.4
                    .quote
                        margin: 42px 0 28px 0
                    .info
                        margin-top: 42px
                        display: flex
                        align-items: center
                        gap: 100px
                        figcaption
                            h4
                                font-size: 28px
                                @include font(600)
                            p
                                font-size: 14px

                        figure
                            img
                                width: 41px
                                height: 41px
                &:last-child
                    figure
                        img
                            display: block

.about-secE
    padding: 70px 0
    @include media(540)
        padding: 50px 0
    .container
        h2
            text-align: center
        .row
            position: relative
            margin-top: 70px
            .swiper
                overflow: hidden
                .swiper-wrapper
                    .swiper-slide
                        width: 570px
                        height: 419px
                        border-radius: 10px
                        overflow: hidden
                        figure
                            height: 100%
                            width: 100%
                            position: relative
                            &::before
                                content: ""
                                position: absolute
                                inset: 0
                                background: linear-gradient(360deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%)
                            img
                                width: 100%
                                height: 100%
                                object-fit: cover
                                display: block
                            figcaption
                                position: absolute
                                left: 0
                                right: 0
                                bottom: 0
                                padding: 24px
                                text-align: center
                                font-family: Lato
                                color: white
                                font-size: 20px
                                opacity: 0
                                transition: 0.5s ease
                        &.swiper-slide-active
                            figcaption
                                opacity: 100%
            .swiper-nav
                max-width: 60%
                .swiper-prev, .swiper-next
                    background: $white
                    &:hover
                        background: $primary
                        img
                            filter: invert(0) brightness(100)
                            transition: .5s ease
