@import '../_var'

#Opning_section
    scroll-margin-top: var(--headerheight) 

.hero-banner.career-banner
   .video-wrapper
        &::before
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 36.53%),linear-gradient(360deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 42.5%)
            transform: scale(1)

.career-secA
    padding: 70px 0
    background: var(--bgcolorlight)
    .container
        .heading
            margin: 0 auto
            h2
                font-size: 36px
                @include font(700)
                max-width: 461px
                margin: 0 auto 16px
                line-height: 1.2
            p
                max-width: 564px
        .col
            margin-top: 70px
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 36px
            .item
                border-radius: 15px
                overflow: hidden
                box-shadow: 0px 2px 8px 0px #63636333
                background: $white
                padding: 32px 32px 42px
                .ttl
                    display: flex
                    justify-content: space-between
                    h3
                        font-size: 24px
                        font-weight: 600
                        line-height: 1.2
                        font-family: Lato
                        max-width: 274px
                        margin-bottom: 28px
                p
                    max-width: 90%
                    

.career-secB
    padding: 20px 0 70px    
    background: var(--bgcolorlight)
    .heading
        h2
            margin: 0 auto 16px
            font-size: 36px
            font-family: Lato
            @include font(700)
            span
                display: block
                @include font(300)
                font-style: italic
        p
            max-width: 504px
    .life-swiper
        margin-top: 70px
        .swiper-wrapper
            align-items: stretch 
            .swiper-slide
                display: flex
                height: auto
                width: 100%
                transform: scale(0.8)
                transition: .5s ease
                .item
                    height: 100%
                    width: 100%
                    border-radius: 15px
                    max-height: 68vh
                    overflow: hidden
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover
                &.swiper-slide-active
                    transform: scale(1)
    .swiper-nav           
        width: 100%
        margin-top: 30px
        justify-content: center
        gap: 30px
        .swiper-prev, .swiper-next
            border: 1px solid $primary
            background: transparent
        .life-pagination
            position: relative
            width: 40%
            height: 2px
            background: #C5C5C5
            .swiper-pagination-progressbar-fill

                background: $primary


.career-secC
    padding: 20px 0 30px
    background: var(--bgcolorlight)
    .container
        background: #9D864D
        border-radius: 15px
        padding: 62px 32px
        .heading
            h6, h2
                text-align: left
                font-family: Lato
                color: $white
            h6
                font-size: 18px
                @include font(600)
                margin-bottom: 14px
            h2
                font-size: 36px
                @include font(700)
        .grid-box
            display: grid
            grid-template-columns: repeat(4, 1fr)
            margin-top: 50px
            gap: 20px
            .open-item
                background: #F3F3F3
                border-radius: 8px
                padding: 24px 24px 28px
                min-height: 151px
                display: flex
                flex-direction: column
                justify-content: space-between
                position: relative
                cursor: pointer
                transition: 0.3s ease
                &:hover
                    transform: translateY(5px)
                    background: $white
                    .icon
                        img
                            transform: rotate(32deg)
                h6, p
                    font-family: lato
                    font-size: 15px
                h6
                    @include font(600)
                p
                    color: $text
                .icon
                    position: absolute
                    right: 20px
                    bottom: 20px
                    width: 29px
                    height: 26px
                    border-radius: 7px
                    display: flex
                    justify-content: center
                    align-items: center
                    background: $white
                    img
                        transition: 0.3s ease







.testimonial-section
    .container
        .flex-box
            .colA
                width: 40%
                h2
                    font-family: Lato
                    font-size: 36px
                    @include font(700)
                    span
                        @include font(300)
                        font-style: italic
                .swiper-nav
                    margin-top: 70px    
                .contact
                    margin-top: 70px
                    display: flex
                    flex-direction: column
                    h5
                        font-size: 20px
                        @include font(700)
                        color: $black
                        text-align: left
                        font-family: Lato
                        line-height: 1
                    a
                        color: $black
                        font-family: Lato
                        font-size: 20px
                        @include font(400)
                        line-height: 1.2
            .colB
                width: 60%
                .swiper
                    .swiper-wrapper
                        padding: 20px 0 20px 8px 
                        .swiper-slide-next
                            opacity: 1
                        .swiper-slide
                            .testimonial-card
                                border-radius: 16px
                                box-shadow: 0px 2px 8px 0px #63636333