@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
#Opning_section {
  scroll-margin-top: var(--headerheight);
}

.hero-banner.career-banner .video-wrapper::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 36.53%), linear-gradient(360deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 42.5%);
  transform: scale(1);
}
.hero-banner.career-banner .video-wrapper .bg-wrapper h1 {
  max-width: 90%;
}

.career-secA {
  padding: 70px 0;
  background: var(--bgcolorlight);
}
@media only screen and (max-width: 768px) {
  .career-secA {
    padding: 50px 0;
  }
}
.career-secA .container .heading {
  margin: 0 auto;
}
.career-secA .container .heading h2 {
  font-size: 36px;
  font-weight: 700;
  max-width: 461px;
  margin: 0 auto 16px;
  line-height: 1.2;
}
@media only screen and (max-width: 768px) {
  .career-secA .container .heading h2 {
    line-height: 1.1;
  }
}
@media only screen and (max-width: 540px) {
  .career-secA .container .heading h2 {
    font-size: 26px;
  }
}
.career-secA .container .heading p {
  max-width: 564px;
}
.career-secA .container .col {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;
}
@media only screen and (max-width: 768px) {
  .career-secA .container .col {
    margin-top: 50px;
    gap: 15px;
  }
}
@media only screen and (max-width: 540px) {
  .career-secA .container .col {
    grid-template-columns: repeat(1, 1fr);
  }
}
.career-secA .container .col .item {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
  background: var(--white);
  padding: 32px 32px 42px;
}
.career-secA .container .col .item .ttl {
  display: flex;
  justify-content: space-between;
}
.career-secA .container .col .item .ttl h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  font-family: Lato;
  max-width: 274px;
  margin-bottom: 28px;
}
.career-secA .container .col .item p {
  max-width: 90%;
}
@media only screen and (max-width: 540px) {
  .career-secA .container .col .item p {
    max-width: 100%;
  }
}

.career-secB {
  padding: 20px 0 70px;
  background: var(--bgcolorlight);
}
@media only screen and (max-width: 540px) {
  .career-secB {
    padding: 20px 0 40px;
  }
}
.career-secB .heading h2 {
  margin: 0 auto 16px;
  font-size: 36px;
  font-family: Lato;
  font-weight: 700;
}
.career-secB .heading h2 span {
  display: block;
  font-weight: 300;
  font-style: italic;
}
@media only screen and (max-width: 540px) {
  .career-secB .heading h2 {
    font-size: 26px;
  }
}
.career-secB .heading p {
  max-width: 504px;
}
@media only screen and (max-width: 540px) {
  .career-secB .heading p {
    max-width: 89%;
  }
}
.career-secB .life-swiper {
  margin-top: 70px;
}
@media only screen and (max-width: 540px) {
  .career-secB .life-swiper {
    margin-top: 40px;
  }
}
.career-secB .life-swiper .swiper-wrapper {
  align-items: stretch;
}
.career-secB .life-swiper .swiper-wrapper .swiper-slide {
  display: flex;
  height: auto;
  width: 100%;
  transform: scale(0.8);
  transition: 0.5s ease;
}
.career-secB .life-swiper .swiper-wrapper .swiper-slide .item {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  max-height: 68vh;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  .career-secB .life-swiper .swiper-wrapper .swiper-slide .item {
    max-height: 50vh;
  }
}
@media only screen and (max-width: 768px) {
  .career-secB .life-swiper .swiper-wrapper .swiper-slide .item {
    max-height: 30vh;
  }
}
@media only screen and (max-width: 540px) {
  .career-secB .life-swiper .swiper-wrapper .swiper-slide .item {
    max-height: 20vh;
  }
}
.career-secB .life-swiper .swiper-wrapper .swiper-slide .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.career-secB .life-swiper .swiper-wrapper .swiper-slide.swiper-slide-active {
  transform: scale(1);
}
.career-secB .swiper-nav {
  width: 100%;
  margin-top: 30px;
  justify-content: center;
  gap: 30px;
}
.career-secB .swiper-nav .swiper-prev, .career-secB .swiper-nav .swiper-next {
  border: 1px solid var(--primary);
  background: transparent;
}
.career-secB .swiper-nav .life-pagination {
  position: relative;
  width: 40%;
  height: 2px;
  background: #C5C5C5;
}
.career-secB .swiper-nav .life-pagination .swiper-pagination-progressbar-fill {
  background: var(--primary);
}

.career-secC {
  padding: 20px 0 30px;
  background: var(--bgcolorlight);
}
@media only screen and (max-width: 1024px) {
  .career-secC {
    padding: 20px 0 0;
  }
}
.career-secC .container {
  background: #9D864D;
  border-radius: 15px;
  padding: 62px 32px;
}
@media only screen and (max-width: 540px) {
  .career-secC .container {
    padding: 20px 15px;
  }
}
.career-secC .container .heading h6, .career-secC .container .heading h2 {
  text-align: left;
  font-family: Lato;
  color: var(--white);
}
@media only screen and (max-width: 768px) {
  .career-secC .container .heading h6, .career-secC .container .heading h2 {
    text-align: center;
  }
}
.career-secC .container .heading h6 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 14px;
}
.career-secC .container .heading h2 {
  font-size: 36px;
  font-weight: 700;
}
.career-secC .container .grid-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  gap: 20px;
}
@media only screen and (max-width: 1024px) {
  .career-secC .container .grid-box {
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 0 10px 0;
  }
}
@media only screen and (max-width: 768px) {
  .career-secC .container .grid-box {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 0 10px 0;
  }
}
@media only screen and (max-width: 540px) {
  .career-secC .container .grid-box {
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 0 10px 0;
    gap: 10px;
  }
}
.career-secC .container .grid-box .open-item {
  background: #F3F3F3;
  border-radius: 8px;
  padding: 24px 24px 28px;
  min-height: 151px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
}
.career-secC .container .grid-box .open-item:hover {
  transform: translateY(5px);
  background: var(--white);
}
.career-secC .container .grid-box .open-item:hover .icon img {
  transform: rotate(32deg);
}
.career-secC .container .grid-box .open-item h6, .career-secC .container .grid-box .open-item p {
  font-family: lato;
  font-size: 15px;
}
.career-secC .container .grid-box .open-item h6 {
  font-weight: 600;
}
.career-secC .container .grid-box .open-item p {
  color: var(--text);
}
.career-secC .container .grid-box .open-item .icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 29px;
  height: 26px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
}
.career-secC .container .grid-box .open-item .icon img {
  transition: 0.3s ease;
}

.testimonial-section .container .flex-box .colA {
  width: 40%;
}
@media only screen and (max-width: 768px) {
  .testimonial-section .container .flex-box .colA {
    width: 55%;
  }
}
@media only screen and (max-width: 540px) {
  .testimonial-section .container .flex-box .colA {
    width: 100%;
  }
}
.testimonial-section .container .flex-box .colA h2 {
  font-family: Lato;
  font-size: 36px;
  font-weight: 700;
}
.testimonial-section .container .flex-box .colA h2 span {
  font-weight: 300;
  font-style: italic;
}
@media only screen and (max-width: 540px) {
  .testimonial-section .container .flex-box .colA h2 {
    font-size: 26px;
  }
}
.testimonial-section .container .flex-box .colA .swiper-nav {
  margin-top: 70px;
}
.testimonial-section .container .flex-box .colA .contact {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .testimonial-section .container .flex-box .colA .contact {
    margin-top: 20px;
  }
}
.testimonial-section .container .flex-box .colA .contact h5 {
  font-size: 20px;
  font-weight: 700;
  color: var(--black);
  text-align: left;
  font-family: Lato;
  line-height: 1;
}
@media only screen and (max-width: 768px) {
  .testimonial-section .container .flex-box .colA .contact h5 {
    text-align: center;
  }
}
.testimonial-section .container .flex-box .colA .contact a {
  color: var(--black);
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.testimonial-section .container .flex-box .colB {
  width: 60%;
}
@media only screen and (max-width: 768px) {
  .testimonial-section .container .flex-box .colB {
    width: 100%;
  }
}
.testimonial-section .container .flex-box .colB .swiper .swiper-wrapper {
  padding: 20px 0 20px 8px;
}
.testimonial-section .container .flex-box .colB .swiper .swiper-wrapper .swiper-slide-next {
  opacity: 1;
}
.testimonial-section .container .flex-box .colB .swiper .swiper-wrapper .swiper-slide .testimonial-card {
  border-radius: 16px;
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
}/*# sourceMappingURL=careers.css.map */