@import '../_var'

.hero-banner.career-banner
    position: relative
    color: white
    overflow: hidden
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    @include media(1024)
        height: 80vh
    @include media(991)
        height: 50vh
    @include media(540)
        height: 60vh
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: linear-gradient(360deg, rgba(0, 0, 0, 0) 50.48%, rgba(0, 0, 0, 0.98) 100%),linear-gradient(270deg, rgba(0, 0, 0, 0) 57.69%, rgba(0, 0, 0, 0.65) 100%),linear-gradient(180deg, rgba(0, 0, 0, 0) 55.49%, rgba(0, 0, 0, 0.95) 100%)
        @include media(991)
            background:  linear-gradient(20deg, rgba(0, 0, 0, 0) 50.48%, rgba(0, 0, 0, 0.98) 100%), linear-gradient(270deg, rgba(0, 0, 0, 0) 57.69%, rgba(0, 0, 0, 0.65) 100%), linear-gradient(178deg, rgba(0, 0, 0, 0) 45.49%, rgba(0, 0, 0, 0.95) 100%)
        @include media(540)    
            background: linear-gradient(360deg, rgba(0, 0, 0, 0) 50.48%, rgba(0, 0, 0, 0.98) 100%), linear-gradient(270deg, rgba(0, 0, 0, 0) 57.69%, rgba(0, 0, 0, 0.65) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 35.49%, rgba(0, 0, 0, 0.95) 100%)
    .banner-wrapper 
        width: 100%
        .bg-image
            position: absolute
            top: 0
            left: 0
            z-index: -1
            height: 100%
            width: 100%
            img
                width: 100%
                height: 100%
                object-fit: cover
        .container
            @include media(540)
                padding: 0
            .bg-wrapper
                // max-width: 50%
                position: absolute
                z-index: 1
                width: 100%
                bottom: 20%
                margin-left: 10px
                @include media(991)
                    bottom: 10%
                @include media(540)
                    bottom: 14%
                    margin-left: 0
                h1
                    font-weight: 600
                    font-size: 47px
                    text-transform: uppercase
                    color: white
                    line-height: 1.1
                    text-align: left
                    margin-bottom: 18px
                    max-width: 528px
                    @include media(991)
                        max-width: 70%
                        line-height: 1.2
                        font-size: 30px
                    @include media(540)
                        max-width: 100%
                        font-size: 25px
                        line-height: 1.1
                        text-align: center
                        padding: 0 20px
                        margin-bottom: 8px

                p
                    font-weight: 500
                    font-size: 16px
                    line-height: 22px
                    color: $white
                    width: 450px
                    @include media(991)
                        max-width: 100%
                        color: #ffffffe0
                    @include media(540)
                        max-width: 100%
                        font-size: 13px
                        line-height: 1.2
                        text-align: center
                        color: #ffffffdb
                        max-width: 80%
                        margin: auto
            .play-button       
                position: absolute
                z-index: 1
                right: 0
                bottom: 20%

.career-secA
    padding: 70px 0
    background: var(--bgcolorlight)
    .container
        .heading
            margin: 0 auto
            h2
                font-size: 36px
                @include font(700)
                max-width: 461px
                margin: 0 auto 16px
                line-height: 1.2
            p
                max-width: 564px
        .col
            margin-top: 70px
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 36px
            .item
                border-radius: 15px
                overflow: hidden
                box-shadow: 0px 2px 8px 0px #63636333
                background: $white
                padding: 32px 32px 42px
                .ttl
                    display: flex
                    justify-content: space-between
                    h3
                        font-size: 24px
                        font-weight: 600
                        line-height: 1.2
                        font-family: Lato
                        max-width: 274px
                        margin-bottom: 28px
                p
                    max-width: 90%
                    

.career-secB
    padding: 20px 0 70px    
    background: var(--bgcolorlight)
    .heading
        h2
            margin: 0 auto 16px
            font-size: 36px
            font-family: Lato
            @include font(700)
            span
                display: block
                @include font(300)
                font-style: italic
        p
            max-width: 504px
    .life-swiper
        margin-top: 70px
        .swiper-wrapper
            align-items: stretch 
            .swiper-slide
                display: flex
                height: auto
                width: 100%
                transform: scale(0.8)
                transition: .5s ease
                .item
                    height: 100%
                    width: 100%
                    border-radius: 15px
                    max-height: 547px
                    overflow: hidden
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover
                &.swiper-slide-active
                    transform: scale(1)
    .swiper-nav           
        width: 100%
        margin-top: 60px
        justify-content: center
        gap: 30px
        .swiper-prev, .swiper-next
            border: 1px solid $primary
            background: transparent
        .life-pagination
            position: relative
            width: 40%
            height: 2px
            background: #C5C5C5
            .swiper-pagination-progressbar-fill

                background: $primary


.career-secC
    padding: 20px 0 30px
    background: var(--bgcolorlight)
    .container
        background: #9D864D
        border-radius: 15px
        padding: 62px 32px
        .heading
            h6, h2
                text-align: left
                font-family: Lato
                color: $white
            h6
                font-size: 18px
                @include font(600)
                margin-bottom: 14px
            h2
                font-size: 36px
                @include font(700)
        .grid-box
            display: grid
            grid-template-columns: repeat(4, 1fr)
            margin-top: 50px
            gap: 20px
            .open-item
                background: #F3F3F3
                border-radius: 8px
                padding: 24px 24px 28px
                min-height: 151px
                display: flex
                flex-direction: column
                justify-content: space-between
                position: relative
                cursor: pointer
                h6, p
                    font-family: lato
                    font-size: 15px
                h6
                    @include font(600)
                p
                    color: $text
                .icon
                    position: absolute
                    right: 20px
                    bottom: 20px
                    width: 29px
                    height: 26px
                    border-radius: 7px
                    display: flex
                    justify-content: center
                    align-items: center
                    background: $white








.testimonial-section
    .container
        .flex-box
            .colA
                width: 40%
                h2
                    font-family: Lato
                    font-size: 36px
                    @include font(700)
                    span
                        @include font(300)
                        font-style: italic
                .swiper-nav
                    margin-top: 70px    
                .contact
                    margin-top: 70px
                    display: flex
                    flex-direction: column
                    h5
                        font-size: 20px
                        @include font(700)
                        color: $black
                        text-align: left
                        font-family: Lato
                        line-height: 1
                    a
                        color: $black
                        font-family: Lato
                        font-size: 20px
                        @include font(400)
                        line-height: 1.2
            .colB
                width: 60%
                .swiper
                    .swiper-wrapper
                        .swiper-slide-next
                            opacity: 1
                        .swiper-slide
                            .testimonial-card
                                border-radius: 16px
                                box-shadow: 0px 2px 8px 0px #63636333