@import '../_var'

.project-update-banner
    position: relative
    color: white
    overflow: hidden
    height: 80vh
    display: flex
    flex-direction: column
    justify-content: center
    @include media(1024)
        height: 70vh
    @include media(991)
        height: 60vh
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 46.76%, rgba(0, 0, 0, 0.7) 78.83%),linear-gradient(0deg, rgba(0, 0, 0, 0) 69.01%, rgba(0, 0, 0, 0.5) 88.92%)
    .bg
        img 
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            object-fit: cover
            z-index: -1
    .bg-wrapper
        position: absolute
        bottom: 5%
        left: 50%
        transform: translate(-50%, -50%)
        text-align: center
        width: 100%
        @include media(540)
            top: inherit
            bottom: 10%
        h1
            font-weight: 400
            font-size: 64px
            text-align: center
            text-transform: uppercase
            color: white
            line-height: 1.1
            margin-bottom: 15px
            @include media(540)
                font-weight: 600
                font-size: 33px


.project-update-secA
    padding: 50px 0
    .flex-box
        display: flex
        justify-content: right
        gap: 12px
        margin-bottom: 50px
        @include media(540)
            flex-direction: column
            gap: 20px
            justify-content: center
            text-align: center
        .col:first-child
            .form-group
                &::before
                    background: $text
                .custom-select 
                    border: 1px solid #cccccc
                    border-radius: 5px
                    padding: 5px 15px 5px 15px
                    @include media(540)
                        width: fit-content
                        margin: auto
                    &::before
                        right: 10px
                    .current
                        color: $text
            span
                font-family: Lato
            .bottom-btn
                margin: auto
            .dropdown-input
                text-align: left
                .list
                    li
                        color: $text
                        transition: 0.5s ease
                        font-family: Lato
                        white-space: nowrap
                        &.selected
                            background:  #EEBF91
                        &.focus
                            color: black                            
                        &:hover
                            color: $black
                            background: #EEBF91
        .col:last-child
            input
                padding: 7.5px 10px
                border: 1px solid #ccc
                border-radius: 5px
                font-family: 'LATO'
                font-size: 16px
                color: var(--text)
                max-width: 225px
                @include media(540)
                    max-width: 225px
                    width: 100%
                    text-align: center

    .grid-box
        display: grid
        grid-template-columns: repeat(2,1fr)
        grid-gap: 40px 20px
        @include media(1024)
            grid-template-columns: repeat(2,1fr)
        @include media(768)
            grid-template-columns: repeat(2,1fr)
        @include media(540)
            grid-template-columns: repeat(1,1fr)
        .grid-box-item
            border: 1px solid #BEBEBE
            transition: 0.5s ease
            &:hover
                background: linear-gradient(180deg, #FFFFFF 27.79%, #FBEEE1 100%)
                // border: 1px solid #FBEEE1
                figure img
                    scale: 1.1 
            figure
                height: 300px
                width: 100%
                overflow: hidden
                position: relative
                &::before
                    content: ""
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    z-index: 1
                    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 66.26%, rgba(0, 0, 0, 0.6) 97.85%)
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    transition: 0.3s ease-in-out
                p
                    position: absolute
                    top: 0
                    left: 0
                    padding: 10px 30px 10px 30px
                    border-top-right-radius: 6px
                    border-bottom-right-radius: 6px
                    background: #EEBF91
                    color: black
                    margin: 30px 0px 0 0px
                    font-weight: 450
                    font-size: 16px
                    line-height: 20px
                    z-index: 2

            figcaption
                padding: 30px 20px
                // span
                //     font-weight: 500
                //     color: #666666
                //     font-size: 14px
                h2
                    font-family: Lato
                    font-weight: 600
                    font-size: 24px
                    line-height: 1.3
                    margin-bottom: 10px
                    @include media(540)
                        font-size: 18px !important
                p
                    font-family: Lato
                    color: $text
                    font-weight: 400
                    font-size: 16px
                    line-height: 1.1

.flatpickr-current-month .flatpickr-monthDropdown-months
    display: none !important