@import '../_var'

// .hero-banner.home-banner

.home-secA
    padding: 30px 0 70px 0
    background: #FFF9F2         
    @include media(540)
        padding: 50px 0
    .flex-box
        display: flex
        justify-content: center
        gap: 180px
        align-items: center
        @include media(768)
            flex-direction: column
            align-items: center
            justify-content: center
            gap: 40px
        figcaption
            flex: 0 1 50%
            width: fit-content
            @include media(768)
                text-align: center
            h2
                margin: 0 0 15px 0
                max-width: 408px
                margin-bottom: 20px
            p
                margin-bottom: 15px
                // max-width: 510px
        .right-col
            flex: 0 1 50%
            .animation-sec
                max-width: 535px
                min-height: 451px
                display: flex
                justify-content: center
                align-items: center
                overflow: hidden
                position: relative
                @keyframes slideLeft 
                    0% 
                        transform: translateX(0)
                    20% 
                        transform: translateX(42px)
                    100% 
                        transform: translateX(-150%)
                @keyframes slideRight
                    0% 
                        transform: translateX(0)
                    20% 
                        transform: translateX(-42px)
                    100% 
                        transform: translateX(150%)
                @keyframes slideUp
                    from
                        bottom: -100%
                    to
                        bottom: 0
                &.active
                    .c-vector
                        animation: slideLeft 4s ease-out forwards
                    .g-vector
                        animation: slideRight 4s ease-out forwards
                    .building
                        animation: slideUp 1.5s ease-out forwards
                        animation-delay: 1.4s
                .c-vector
                    width: 188px
                    height: 286px
                    line-height: 0
                    z-index: 1
                    img
                        height: 100%
                        width: 100%
                        object-fit: contain
                .g-vector
                    width: 286px
                    height: 286px
                    line-height: 0
                    z-index: 1
                    img
                        height: 100%
                        width: 100%
                        object-fit: contain
                .building
                    position: absolute
                    bottom: -100%
                    left: 50%
                    transform: translate(-50%)
                    width: 100%
                    height: 100%
                    max-width: 535px
                    min-height: 451px
                    z-index: 0
                    img
                        height: 100%
                        width: 100%
                        object-fit: contain

.home-secB
    background: #FBEDDC
    padding: 70px 0 
    .top-row
        margin: 30px auto 35px
        display: flex
        justify-content: center
        align-items: center
        position: relative
        .tabs
            display: flex
            gap: 42px
            list-style: none
            padding: 0
            margin: 0
            li
                cursor: pointer
                color: #777
                padding-bottom: 12px
                position: relative
                transition: .5s ease
                font-family: Lato
                font-weight: 700
                font-size: 16px
                &.active
                    color: #8c6b1f
                    &::before
                        width: 100%
                &::before
                    content: ""
                    position: absolute
                    left: 0
                    width: 0%
                    height: 2px
                    transition: .5s ease
                    bottom: 0
                    background: #8c6b1f
        .navigation
            display: flex
            gap: 20px
            position: absolute
            right: 0
            top: 10px
            button
                width: 37px
                height: 21px
                border: none
                background: transparent
                cursor: pointer
                transition: .5s ease
                &:hover
                    filter: invert(39%) sepia(33%) saturate(1008%) hue-rotate(17deg) brightness(96%) contrast(91%)
                &.swiper-button-disabled
                    cursor: no-drop
    .swiper-slide
        @include shine
        overflow: hidden
    .projectss-card
        &:hover
            figure
                img
                    scale: 1.1
        figure
            height: 404px
            border-radius: 10px
            overflow: hidden
            position: relative
            &::before
                content: ""
                position: absolute
                inset: 0 
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 42.79%, rgba(0, 0, 0, 0.75) 96.15%)
                width: 100%
                height: 100%
                z-index: 1
            img
                height: 100%
                width: 100%
                object-fit: cover
                transition: 0.5s ease
        figcaption
            position: absolute
            bottom: 0
            left: 0
            padding: 30px
            z-index: 2
            h4
                font-weight: 500
                font-size: 24px
                color: white
            p
                font-weight: 500
                font-size: 14px
                color: white

.home-secC
    padding: 70px 0 
    background: #1A1A1A
    position: relative
    overflow: hidden
    &::before
        content: ""
        position: absolute
        min-height: 562px
        max-width: 562px
        width: 100%
        height: 100%
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        background: #ffffff61
        border-radius: 50%
        filter: blur(190px)
    .heading
        margin-bottom: 50px
        position: relative
        z-index: 1
        h2
            color: white
            max-width: 562px
            margin: auto
    .wrap
        position: relative
        z-index: 1
        .navigation
            display: flex
            justify-content: space-between
            align-items: center
            width: 83%
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            z-index: 2
            pointer-events: none
            .why-choose-next
                transform: scaleX(-1)
            .why-choose-next,.why-choose-prev
                pointer-events: all
        .swiper
            .swiper-wrapper
                .swiper-slide
                    .why-choose-card
                        background: #FFFFFF33
                        border-radius: 10px
                        overflow: hidden
                        line-height: 0
                        display: flex
                        justify-content: space-between
                        align-items: center
                        figure
                            width: 566px
                            height: 401px
                            line-height: 0
                            flex: 0 1 60%
                            img
                                width: 100%
                                height: 100%
                                object-fit: cover
                        figcaption
                            flex: 0 1 40%
                            padding: 40px
                            h4
                                font-weight: 700
                                color: white
                                font-size: 24px
                                margin-bottom: 10px
                            p
                                max-width: 303px
                                color: #FFFFFFB2
                                font-size: 16px
                                font-weight: 400

.home-secD
    background: #FFF9F2
    padding: 50px 0 
    .content
        box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2)
        border-radius: 5px
        margin-top: 60px
        display: grid
        grid-template-columns: 380px 1fr
        background: #FFFFFF
        .left
            padding: 20px
            .upper
                h4
                    font-size: 20px
                    color: $black
                    @include font(700)
                    margin-bottom: 20px
                .map-filter
                    display: grid
                    grid-template-columns: repeat(2, 1fr)
                    gap: 16px
                    margin-bottom: 15px
            .filter-content
                max-height: 414px
                padding-right: 10px
                overflow-y: auto
                &::-webkit-scrollbar
                    width: 4px
                &::-webkit-scrollbar-track
                    background: #D9D9D9
                &::-webkit-scrollbar-thumb
                    background: var(--primary)
                li
                    display: flex
                    align-items: center
                    gap: 42px
                    cursor: pointer
                    background: $white
                    padding: 20px
                    transition: all .5s ease-in-out
                    justify-content: space-between
                    background: #FFF9F2
                    &:not(:last-child)
                        margin-bottom: 5px
                    .info
                        h5
                            transition: all .5s ease
                            font-size: 14px
                            text-align: left
                            color: $black
                            @include font(600)
                            margin-bottom: 5px
                        p
                            transition: all .5s ease
                            font-weight: 500
                            font-size: 14px
                            line-height: 1.4
                            color: #666666
                            &:not(:last-child)
                                margin-bottom: 2px
                    .icon
                        flex-shrink: 0
                        width: 10px
                        img
                            transition: all .5s ease
                            height: 100%
                            width: 100%
                            object-fit: contain
                    &.active
                        background: var(--primary)
                        .info
                            h5
                                color: $white
                            p
                                color: #FFFFFFB2
                        .icon
                            img
                                filter: brightness(0) invert(1)
    .map-select
        background: var(--white)
        display: flex
        align-items: center
        gap: 10px
        padding: 7px 10px
        position: relative
        cursor: pointer
        .type-icon
            width: 16px
            height: 16px
        figcaption
            flex: 1
            .type
                font-size: 12px
                color: rgba(102, 102, 102, 0.5)
            .value
                font-size: 14px
        .option-container
            position: absolute
            top: 100%
            left: 0
            right: 0
            display: grid
            grid-template-rows: 0fr
            transition: all .5s ease
            &.open
                grid-template-rows: 1fr
            .options
                background: var(--white)
                z-index: 1
                border-top: 1px solid rgba(0, 0, 0, 0.15)
                max-height: 150px
                overflow-y: auto
                &::-webkit-scrollbar
                    width: 4px
                &::-webkit-scrollbar-track
                    background: transparent
                &::-webkit-scrollbar-thumb
                    background: var(--primary)
                li
                    padding: 8px 12px
                    cursor: pointer
                    transition: .3s ease
                    font-size: 14px
                    &:not(:last-child)
                        border-bottom: 1px solid rgba(0, 0, 0, 0.08)
                    &.selected
                        background: var(--bglight)
    .map-pointer
        background: var(--white)
        box-shadow: 0px 7.53px 27.11px 0px rgba(0, 0, 0, 0.16)
        h4
            font-size: 14px
            color: var(--primary)
            @include font(600)
            margin-bottom: 5px
        p
            transition: all .5s ease
            font-size: 12px
            &:not(:last-child)
                margin-bottom: 2px
        .btn
            margin-top: 16px
            font-size: 12px
            --height: 28px
            @include font(500)

            
.home-secE
    padding: 60px 0 30px 0 
    background: #1A1A1A
    position: relative
    overflow: hidden
    &::before
        content: ""
        filter: blur(140px)
        background: #ffffff21
        border-radius: 50%
        width: 100%
        max-width: 452px
        height: 66%
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -75%)
        z-index: 0
    &::after
        content: ""
        position: absolute
        inset: 0
        width: 100%
        height: 100%
        background: url("/assets/images/Home/whats-happening/bg-vector.png") center center / contain no-repeat
        z-index: 0
    .heading
        margin-bottom: 60px
        position: relative
        z-index: 1
        text-align: center
        h2
            color: white
            max-width: 562px
            margin: 0 auto 20px
        p
            color: $white
            max-width: 457px
        .btn
            margin: 40px auto 0 
    
    .grid-box
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 0
        position: relative
        z-index: 1
        .col
            height: 247px
            background: $white
            padding: 10px
            line-height: 0
            transition: 0.6s ease
            &:hover
                transform: rotate(0) translate(0, 0) !important
            img
                height: 100%
                width: 100%
                object-fit: cover
        .col:nth-child(1)
            transform: rotate(-10deg) translate(30px, 70px)
        .col:nth-child(2)
            transform: rotate(10deg) translate(30px, 70px)
        .col:nth-child(3)
            transform: rotate(-10deg) translate(-30px, 70px)
        .col:nth-child(4)
            transform: rotate(10deg) translate(-30px, 70px)
        

.hero-banner.home-secG
    .video-wrapper 
        &::before
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 20.33%, rgba(0, 0, 0, 0) 68.16%)
        .bg-wrapper
            text-align: center
            h2
                text-align: center
                font-family: Optima
                color: $white
                font-weight: 400
                font-size: 48px
                line-height: 48px
                max-width: 515px
                margin: auto

            p
                margin: 30px auto
            .btn
                margin: auto
