@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.home-secA {
  padding: 30px 0 70px 0;
  background: #FFF9F2;
}
@media only screen and (max-width: 540px) {
  .home-secA {
    padding: 50px 0;
  }
}
.home-secA .flex-box {
  display: flex;
  justify-content: center;
  gap: 180px;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .home-secA .flex-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}
.home-secA .flex-box figcaption {
  flex: 0 1 50%;
  width: -moz-fit-content;
  width: fit-content;
}
@media only screen and (max-width: 768px) {
  .home-secA .flex-box figcaption {
    text-align: center;
  }
}
.home-secA .flex-box figcaption h2 {
  margin: 0 0 15px 0;
  max-width: 408px;
  margin-bottom: 20px;
}
.home-secA .flex-box figcaption p {
  margin-bottom: 15px;
}
.home-secA .flex-box .right-col {
  flex: 0 1 50%;
}
.home-secA .flex-box .right-col .animation-sec {
  max-width: 535px;
  min-height: 451px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(42px);
  }
  100% {
    transform: translateX(-150%);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-42px);
  }
  100% {
    transform: translateX(150%);
  }
}
@keyframes slideUp {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}
.home-secA .flex-box .right-col .animation-sec.active .c-vector {
  animation: slideLeft 4s ease-out forwards;
}
.home-secA .flex-box .right-col .animation-sec.active .g-vector {
  animation: slideRight 4s ease-out forwards;
}
.home-secA .flex-box .right-col .animation-sec.active .building {
  animation: slideUp 1.5s ease-out forwards;
  animation-delay: 1.4s;
}
.home-secA .flex-box .right-col .animation-sec .c-vector {
  width: 188px;
  height: 286px;
  line-height: 0;
  z-index: 1;
}
.home-secA .flex-box .right-col .animation-sec .c-vector img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-secA .flex-box .right-col .animation-sec .g-vector {
  width: 286px;
  height: 286px;
  line-height: 0;
  z-index: 1;
}
.home-secA .flex-box .right-col .animation-sec .g-vector img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-secA .flex-box .right-col .animation-sec .building {
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 100%;
  max-width: 535px;
  min-height: 451px;
  z-index: 0;
}
.home-secA .flex-box .right-col .animation-sec .building img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-secB {
  background: #FBEDDC;
  padding: 70px 0;
}
.home-secB .top-row {
  margin: 30px auto 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home-secB .top-row .tabs {
  display: flex;
  gap: 42px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.home-secB .top-row .tabs li {
  cursor: pointer;
  color: #777;
  padding-bottom: 12px;
  position: relative;
  transition: 0.5s ease;
  font-family: Lato;
  font-weight: 700;
  font-size: 16px;
}
.home-secB .top-row .tabs li.active {
  color: #8c6b1f;
}
.home-secB .top-row .tabs li.active::before {
  width: 100%;
}
.home-secB .top-row .tabs li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0%;
  height: 2px;
  transition: 0.5s ease;
  bottom: 0;
  background: #8c6b1f;
}
.home-secB .top-row .navigation {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 0;
  top: 10px;
}
.home-secB .top-row .navigation button {
  width: 37px;
  height: 21px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: 0.5s ease;
}
.home-secB .top-row .navigation button:hover {
  filter: invert(39%) sepia(33%) saturate(1008%) hue-rotate(17deg) brightness(96%) contrast(91%);
}
.home-secB .top-row .navigation button.swiper-button-disabled {
  cursor: no-drop;
}
.home-secB .swiper-slide {
  position: relative;
}
.home-secB .swiper-slide::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 55px 12px white;
  transform: skewX(-20deg);
  z-index: 1;
}
.home-secB .swiper-slide:hover::before {
  animation: shine 0.4s linear;
  animation-fill-mode: none;
}
.home-secB .swiper-slide {
  overflow: hidden;
}
.home-secB .project-card:hover figure img {
  scale: 1.1;
}
.home-secB .project-card figure {
  height: 404px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.home-secB .project-card figure::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 42.79%, rgba(0, 0, 0, 0.75) 96.15%);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.home-secB .project-card figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease;
}
.home-secB .project-card figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
  z-index: 2;
}
.home-secB .project-card figcaption h4 {
  font-weight: 500;
  font-size: 24px;
  color: white;
}
.home-secB .project-card figcaption p {
  font-weight: 500;
  font-size: 14px;
  color: white;
}

.home-secC {
  padding: 70px 0;
  background: black;
  position: relative;
  overflow: hidden;
}
.home-secC::before {
  content: "";
  position: absolute;
  min-height: 562px;
  max-width: 562px;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.3803921569);
  border-radius: 50%;
  filter: blur(190px);
}
.home-secC .heading {
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
}
.home-secC .heading h2 {
  color: white;
  max-width: 562px;
  margin: auto;
}
.home-secC .wrap {
  position: relative;
  z-index: 1;
}
.home-secC .wrap .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 83%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
}
.home-secC .wrap .navigation .why-choose-next {
  transform: scaleX(-1);
}
.home-secC .wrap .navigation .why-choose-next, .home-secC .wrap .navigation .why-choose-prev {
  pointer-events: all;
}
.home-secC .wrap .swiper .swiper-wrapper .swiper-slide .why-choose-card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
  line-height: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-secC .wrap .swiper .swiper-wrapper .swiper-slide .why-choose-card figure {
  width: 566px;
  height: 401px;
  line-height: 0;
  flex: 0 1 60%;
}
.home-secC .wrap .swiper .swiper-wrapper .swiper-slide .why-choose-card figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-secC .wrap .swiper .swiper-wrapper .swiper-slide .why-choose-card figcaption {
  flex: 0 1 40%;
  padding: 40px;
}
.home-secC .wrap .swiper .swiper-wrapper .swiper-slide .why-choose-card figcaption h4 {
  font-weight: 700;
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}
.home-secC .wrap .swiper .swiper-wrapper .swiper-slide .why-choose-card figcaption p {
  max-width: 303px;
  color: rgba(255, 255, 255, 0.6980392157);
  font-size: 16px;
  font-weight: 400;
}/*# sourceMappingURL=home.css.map */