@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.home-secA {
  padding: 30px 0 70px 0;
  background: #FFF9F2;
}
@media only screen and (max-width: 540px) {
  .home-secA {
    padding: 50px 0;
  }
}
.home-secA .flex-box {
  display: flex;
  justify-content: center;
  gap: 180px;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .home-secA .flex-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}
.home-secA .flex-box figcaption {
  flex: 0 1 50%;
  width: -moz-fit-content;
  width: fit-content;
}
@media only screen and (max-width: 768px) {
  .home-secA .flex-box figcaption {
    text-align: center;
  }
}
.home-secA .flex-box figcaption h2 {
  margin: 0 0 15px 0;
  max-width: 408px;
  margin-bottom: 20px;
}
.home-secA .flex-box figcaption p {
  margin-bottom: 15px;
}
.home-secA .flex-box .right-col {
  flex: 0 1 50%;
}
.home-secA .flex-box .right-col .animation-sec {
  max-width: 535px;
  min-height: 451px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(42px);
  }
  100% {
    transform: translateX(-150%);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-42px);
  }
  100% {
    transform: translateX(150%);
  }
}
@keyframes slideUp {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}
.home-secA .flex-box .right-col .animation-sec.active .c-vector {
  animation: slideLeft 4s ease-out forwards;
}
.home-secA .flex-box .right-col .animation-sec.active .g-vector {
  animation: slideRight 4s ease-out forwards;
}
.home-secA .flex-box .right-col .animation-sec.active .building {
  animation: slideUp 1.5s ease-out forwards;
  animation-delay: 1.4s;
}
.home-secA .flex-box .right-col .animation-sec .c-vector {
  width: 188px;
  height: 286px;
  line-height: 0;
  z-index: 1;
}
.home-secA .flex-box .right-col .animation-sec .c-vector img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-secA .flex-box .right-col .animation-sec .g-vector {
  width: 286px;
  height: 286px;
  line-height: 0;
  z-index: 1;
}
.home-secA .flex-box .right-col .animation-sec .g-vector img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-secA .flex-box .right-col .animation-sec .building {
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 100%;
  max-width: 535px;
  min-height: 451px;
  z-index: 0;
}
.home-secA .flex-box .right-col .animation-sec .building img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-secB {
  background: #FBEDDC;
  padding: 70px 0;
}
.home-secB .top-row {
  margin: 30px auto 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home-secB .top-row .tabs {
  display: flex;
  gap: 42px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.home-secB .top-row .tabs li {
  cursor: pointer;
  color: #777;
  padding-bottom: 12px;
  position: relative;
  transition: 0.5s ease;
  font-family: Lato;
  font-weight: 700;
  font-size: 16px;
}
.home-secB .top-row .tabs li.active {
  color: #8c6b1f;
}
.home-secB .top-row .tabs li.active::before {
  width: 100%;
}
.home-secB .top-row .tabs li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0%;
  height: 2px;
  transition: 0.5s ease;
  bottom: 0;
  background: #8c6b1f;
}
.home-secB .top-row .navigation {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 0;
  top: 10px;
}
.home-secB .top-row .navigation button {
  width: 37px;
  height: 21px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: 0.5s ease;
}
.home-secB .top-row .navigation button:hover {
  filter: invert(39%) sepia(33%) saturate(1008%) hue-rotate(17deg) brightness(96%) contrast(91%);
}
.home-secB .top-row .navigation button.swiper-button-disabled {
  cursor: no-drop;
}
.home-secB .swiper-slide {
  position: relative;
}
.home-secB .swiper-slide::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 55px 12px white;
  transform: skewX(-20deg);
  z-index: 1;
}
.home-secB .swiper-slide:hover::before {
  animation: shine 0.4s linear;
  animation-fill-mode: none;
}
.home-secB .swiper-slide {
  overflow: hidden;
}
.home-secB .project-card:hover figure img {
  scale: 1.1;
}
.home-secB .project-card figure {
  height: 404px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.home-secB .project-card figure::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 42.79%, rgba(0, 0, 0, 0.75) 96.15%);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.home-secB .project-card figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease;
}
.home-secB .project-card figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
  z-index: 2;
}
.home-secB .project-card figcaption h4 {
  font-weight: 500;
  font-size: 24px;
  color: white;
}
.home-secB .project-card figcaption p {
  font-weight: 500;
  font-size: 14px;
  color: white;
}

.home-secC {
  padding: 70px 0;
  background: #1A1A1A;
  position: relative;
  overflow: hidden;
}
.home-secC::before {
  content: "";
  position: absolute;
  min-height: 562px;
  max-width: 562px;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.3803921569);
  border-radius: 50%;
  filter: blur(190px);
}
.home-secC .heading {
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
}
.home-secC .heading h2 {
  color: white;
  max-width: 562px;
  margin: auto;
}
.home-secC .wrap {
  position: relative;
  z-index: 1;
}
.home-secC .wrap .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 83%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
}
.home-secC .wrap .navigation .why-choose-next {
  transform: scaleX(-1);
}
.home-secC .wrap .navigation .why-choose-next, .home-secC .wrap .navigation .why-choose-prev {
  pointer-events: all;
}
.home-secC .wrap .swiper .swiper-wrapper .swiper-slide .why-choose-card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
  line-height: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-secC .wrap .swiper .swiper-wrapper .swiper-slide .why-choose-card figure {
  width: 566px;
  height: 401px;
  line-height: 0;
  flex: 0 1 60%;
}
.home-secC .wrap .swiper .swiper-wrapper .swiper-slide .why-choose-card figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-secC .wrap .swiper .swiper-wrapper .swiper-slide .why-choose-card figcaption {
  flex: 0 1 40%;
  padding: 40px;
}
.home-secC .wrap .swiper .swiper-wrapper .swiper-slide .why-choose-card figcaption h4 {
  font-weight: 700;
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}
.home-secC .wrap .swiper .swiper-wrapper .swiper-slide .why-choose-card figcaption p {
  max-width: 303px;
  color: rgba(255, 255, 255, 0.6980392157);
  font-size: 16px;
  font-weight: 400;
}

.home-secD {
  background: #FFF9F2;
  padding: 50px 0;
}
.home-secD .content {
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
  border-radius: 5px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 380px 1fr;
  background: #FFFFFF;
}
.home-secD .content .left {
  padding: 20px;
}
.home-secD .content .left .upper h4 {
  font-size: 20px;
  color: var(--black);
  font-weight: 700;
  margin-bottom: 20px;
}
.home-secD .content .left .upper .map-filter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 15px;
}
.home-secD .content .left .filter-content {
  max-height: 414px;
  padding-right: 10px;
  overflow-y: auto;
}
.home-secD .content .left .filter-content::-webkit-scrollbar {
  width: 4px;
}
.home-secD .content .left .filter-content::-webkit-scrollbar-track {
  background: #D9D9D9;
}
.home-secD .content .left .filter-content::-webkit-scrollbar-thumb {
  background: var(--primary);
}
.home-secD .content .left .filter-content li {
  display: flex;
  align-items: center;
  gap: 42px;
  cursor: pointer;
  background: var(--white);
  padding: 20px;
  transition: all 0.5s ease-in-out;
  justify-content: space-between;
  background: #FFF9F2;
}
.home-secD .content .left .filter-content li:not(:last-child) {
  margin-bottom: 5px;
}
.home-secD .content .left .filter-content li .info h5 {
  transition: all 0.5s ease;
  font-size: 14px;
  text-align: left;
  color: var(--black);
  font-weight: 600;
  margin-bottom: 5px;
}
.home-secD .content .left .filter-content li .info p {
  transition: all 0.5s ease;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #666666;
}
.home-secD .content .left .filter-content li .info p:not(:last-child) {
  margin-bottom: 2px;
}
.home-secD .content .left .filter-content li .icon {
  flex-shrink: 0;
  width: 10px;
}
.home-secD .content .left .filter-content li .icon img {
  transition: all 0.5s ease;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-secD .content .left .filter-content li.active {
  background: var(--primary);
}
.home-secD .content .left .filter-content li.active .info h5 {
  color: var(--white);
}
.home-secD .content .left .filter-content li.active .info p {
  color: rgba(255, 255, 255, 0.6980392157);
}
.home-secD .content .left .filter-content li.active .icon img {
  filter: brightness(0) invert(1);
}
.home-secD .map-select {
  background: var(--white);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px 10px;
  position: relative;
  cursor: pointer;
}
.home-secD .map-select .type-icon {
  width: 16px;
  height: 16px;
}
.home-secD .map-select figcaption {
  flex: 1;
}
.home-secD .map-select figcaption .type {
  font-size: 12px;
  color: rgba(102, 102, 102, 0.5);
}
.home-secD .map-select figcaption .value {
  font-size: 14px;
}
.home-secD .map-select .option-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.5s ease;
}
.home-secD .map-select .option-container.open {
  grid-template-rows: 1fr;
}
.home-secD .map-select .option-container .options {
  background: var(--white);
  z-index: 1;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  max-height: 150px;
  overflow-y: auto;
}
.home-secD .map-select .option-container .options::-webkit-scrollbar {
  width: 4px;
}
.home-secD .map-select .option-container .options::-webkit-scrollbar-track {
  background: transparent;
}
.home-secD .map-select .option-container .options::-webkit-scrollbar-thumb {
  background: var(--primary);
}
.home-secD .map-select .option-container .options li {
  padding: 8px 12px;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 14px;
}
.home-secD .map-select .option-container .options li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.home-secD .map-select .option-container .options li.selected {
  background: var(--bglight);
}
.home-secD .map-pointer {
  background: var(--white);
  box-shadow: 0px 7.53px 27.11px 0px rgba(0, 0, 0, 0.16);
}
.home-secD .map-pointer h4 {
  font-size: 14px;
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 5px;
}
.home-secD .map-pointer p {
  transition: all 0.5s ease;
  font-size: 12px;
}
.home-secD .map-pointer p:not(:last-child) {
  margin-bottom: 2px;
}
.home-secD .map-pointer .btn {
  margin-top: 16px;
  font-size: 12px;
  --height: 28px;
  font-weight: 500;
}

.home-secE {
  padding: 60px 0 30px 0;
  background: #1A1A1A;
  position: relative;
  overflow: hidden;
}
.home-secE::before {
  content: "";
  filter: blur(140px);
  background: rgba(255, 255, 255, 0.1294117647);
  border-radius: 50%;
  width: 100%;
  max-width: 452px;
  height: 66%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  z-index: 0;
}
.home-secE::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/images/Home/whats-happening/bg-vector.png") center center/contain no-repeat;
  z-index: 0;
}
.home-secE .heading {
  margin-bottom: 60px;
  position: relative;
  z-index: 1;
  text-align: center;
}
.home-secE .heading h2 {
  color: white;
  max-width: 562px;
  margin: 0 auto 20px;
}
.home-secE .heading p {
  color: var(--white);
  max-width: 457px;
}
.home-secE .heading .btn {
  margin: 40px auto 0;
}
.home-secE .grid-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  position: relative;
  z-index: 1;
}
.home-secE .grid-box .col {
  height: 247px;
  background: var(--white);
  padding: 10px;
  line-height: 0;
  transition: 0.6s ease;
}
.home-secE .grid-box .col:hover {
  transform: rotate(0) translate(0, 0) !important;
}
.home-secE .grid-box .col img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-secE .grid-box .col:nth-child(1) {
  transform: rotate(-10deg) translate(30px, 70px);
}
.home-secE .grid-box .col:nth-child(2) {
  transform: rotate(10deg) translate(30px, 70px);
}
.home-secE .grid-box .col:nth-child(3) {
  transform: rotate(-10deg) translate(-30px, 70px);
}
.home-secE .grid-box .col:nth-child(4) {
  transform: rotate(10deg) translate(-30px, 70px);
}

.home-secF {
  overflow: hidden;
  background: #FFF9F2;
  padding: 70px 0;
}
.home-secF .flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.home-secF .colA {
  width: 35%;
}
.home-secF .colA h2 {
  margin-bottom: 20px;
  line-height: 1;
}
.home-secF .colA .swiper-nav {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 50px;
}
.home-secF .colA .home-prev,
.home-secF .colA .home-next {
  width: 48px;
  height: 48px;
  border: 1px solid #666666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.home-secF .colA .home-prev:hover,
.home-secF .colA .home-next:hover {
  background: #8c6b1f;
  color: #fff;
  border-color: #8c6b1f;
}
.home-secF .colA .home-pagination {
  display: flex;
  align-items: center;
  width: auto !important;
}
.home-secF .colA .home-pagination .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  margin: 0 8px !important;
  opacity: 1;
  background: rgba(102, 102, 102, 0.6980392157);
  transition: 0.3s ease;
}
.home-secF .colA .home-pagination .swiper-pagination-bullet-active {
  width: 9px;
  height: 9px;
  outline: 2px solid #364025;
  outline-offset: 3px;
  background: #364025;
  transition: 0.3s ease;
}
.home-secF .colB {
  width: 65%;
  overflow: hidden;
}
.home-secF .colB .swiper .swiper-wrapper .swiper-slide {
  transition: 0.5s ease;
}
.home-secF .colB .swiper .swiper-wrapper .swiper-slide.swiper-slide-next {
  opacity: 0.4;
}
.home-secF .colB .swiper .swiper-wrapper .swiper-slide .testimonial-card {
  background: #fff;
  padding: 35px;
  min-height: 430px;
}
.home-secF .colB .swiper .swiper-wrapper .swiper-slide .testimonial-card .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}
.home-secF .colB .swiper .swiper-wrapper .swiper-slide .testimonial-card .top .quote {
  font-size: 80px;
  color: #c5ab72;
  line-height: 1;
}
.home-secF .colB .swiper .swiper-wrapper .swiper-slide .testimonial-card p {
  margin-bottom: 35px;
  max-width: 90%;
}
.home-secF .colB .swiper .swiper-wrapper .swiper-slide .testimonial-card h4 {
  font-weight: 500;
  font-size: 20px;
  color: var(--black);
}
.home-secF .colB .swiper .swiper-wrapper .swiper-slide .testimonial-card span {
  font-family: Lato;
  font-weight: 500;
  font-size: 14px;
}

.hero-banner.home-secG .video-wrapper::before {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 20.33%, rgba(0, 0, 0, 0) 68.16%);
}
.hero-banner.home-secG .video-wrapper .bg-wrapper {
  text-align: center;
}
.hero-banner.home-secG .video-wrapper .bg-wrapper h2 {
  text-align: center;
  font-family: Optima;
  color: var(--white);
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  max-width: 515px;
  margin: auto;
}
.hero-banner.home-secG .video-wrapper .bg-wrapper p {
  margin: 30px auto;
}
.hero-banner.home-secG .video-wrapper .bg-wrapper .btn {
  margin: auto;
}/*# sourceMappingURL=home.css.map */