@import '../_var'

html
    background: #FFF9F1


.hero-banner.blog-banner
    .video-wrapper
        &::before
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 8.75%, rgba(0, 0, 0, 0) 30.19%),linear-gradient(360deg, rgba(0, 0, 0, 0.7) 11.39%, rgba(0, 0, 0, 0) 47.71%)
            transform: scaleX(1)
        video
            transform: scaleX(1)
        .bg-wrapper 
            text-align: center
            margin: auto
            h1
                margin: auto
                text-align: center
            p
                text-align: center
                margin: 20px auto


.blog-secA
    padding: 50px 0
    .grid-box
        display: grid
        grid-template-columns: repeat(3,1fr)
        grid-gap: 30px 20px
        @include media(1024)
            grid-template-columns: repeat(3,1fr)
        @include media(768)
            grid-template-columns: repeat(2,1fr)
        @include media(540)
            grid-template-columns: repeat(1,1fr)
        .blog-card
            background: $white
            box-shadow: 0px 2px 8px 0px #63636333
            transition: 0.5s ease
            &:hover
                figure img
                    scale: 1.1
                figcaption
                    button
                        background: #A56321
                        color: white
            figure
                height: 253px
                width: 100%
                line-height: 0
                overflow: hidden
                position: relative
                @include shine
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    transition: 0.5s ease-in-out
            figcaption
                padding: 30px 20px
                h4
                    font-family: Lato
                    font-weight: 600
                    font-size: 18px
                    line-height: 24px
                    color: $black
                    width: 88%
                    margin-bottom: 15px
                p
                    font-family: Lato
                    color: $text
                    font-weight: 500
                    font-size: 16px
                    line-height: 1.1

                    

                
// ========================================================= BLOG DETAILS ========================================================= //

.blog-detail-banner
    position: relative
    color: white
    overflow: hidden
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    @include media(1024)
        height: 80vh
    @include media(991)
        height: 50vh
    @include media(540)
        height: 60vh
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: linear-gradient(360deg, rgba(0, 0, 0, 0) 50.48%, rgba(0, 0, 0, 0.98) 100%),linear-gradient(270deg, rgba(0, 0, 0, 0) 57.69%, rgba(0, 0, 0, 0.65) 100%),linear-gradient(180deg, rgba(0, 0, 0, 0) 55.49%, rgba(0, 0, 0, 0.95) 100%)
        @include media(540)    
            background: linear-gradient(360deg, rgba(0, 0, 0, 0) 50.48%, rgba(0, 0, 0, 0.98) 100%), linear-gradient(270deg, rgba(0, 0, 0, 0) 57.69%, rgba(0, 0, 0, 0.65) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 35.49%, rgba(0, 0, 0, 0.95) 100%)
    .banner-wrapper 
        width: 100%
        .bg-image
            position: absolute
            top: 0
            left: 0
            z-index: -1
            height: 100%
            width: 100%
            img
                width: 100%
                height: 100%
                object-fit: cover
        .container
            @include media(540)
                padding: 0
            .bg-wrapper
                // max-width: 50%
                position: absolute
                z-index: 1
                width: 100%
                bottom: 20%
                margin-left: 10px
                @include media(991)
                    bottom: 11% 
                @include media(540)
                    bottom: 14%
                    margin-left: 0
                h1
                    font-weight: 600
                    font-size: 36px
                    line-height: 1.1
                    text-align: left
                    margin-bottom: 18px
                    max-width: 678px
                    @include media(991)
                        max-width: 70%
                        line-height: 1.2
                        font-size: 30px
                    @include media(540)
                        max-width: 100%
                        font-size: 25px
                        line-height: 1.1
                        text-align: center
                        padding: 0 20px
                        margin-bottom: 8px

                p
                    font-weight: 500
                    font-size: 16px
                    line-height: 22px
                    color: $white
                    width: 450px
                    margin-bottom: 20px
                    @include media(991)
                        max-width: 100%
                        color: #ffffffe0
                    @include media(540)
                        max-width: 100%
                        font-size: 13px
                        line-height: 1.2
                        text-align: center
                        color: #ffffffdb

.blog-details-secA
    padding: 50px 0
    .container
        max-width: 880px
    .content
        font-family: Lato
        figure
            height: 449px
            img
                width: 100%
                height: 100%
                object-fit: cover
        p
            font-weight: 400
            font-size: 16px
            text-align: justify
            margin-bottom: 25px
            color: $text
        h2
            font-weight: 600
            font-size: 25px
            color: black
            margin: 40px 0 10px 0
        h3
            font-weight: 600
            font-size: 18px
            color: black
            margin: 40px 0 10px 0
        h4
            font-weight: 600
            font-size: 16px
            color: black
            margin: 40px 0 10px 0
        h5
            font-weight: 600
            font-size: 14px
            color: black
            margin: 40px 0 10px 0
        ul
            margin-bottom: 20px
            margin-left: 10px
            li
                position: relative
                padding-left: 30px
                margin-bottom: 10px
                color: $text
                &::before
                    content: ""
                    position: absolute
                    left: 0
                    top: 50%
                    width: 14px
                    aspect-ratio: 1
                    border-radius: 50%
                    background: #AF694F
                    transform: translateY(-50%)


.blog-details-secB
    padding: 0 0 50px 0
    .upper-sec
        padding: 0 !important
        h3
            color: black
            margin: 0
            font-family: Optima
            font-weight: 400
            font-size: 36px
            line-height: 64px
            text-align: center
        .swiper-nav
            button
                display: flex
                align-items: center
                transition: 0.5s ease
                border: 1px solid #D0A77F
                border-radius: 50%
                width: 40px
                height: 40px
                &:hover
                    background: #D0A77F
                    svg
                        path
                            fill: white
                &.swiper-button-disabled
                    opacity: 0.5
                    cursor: no-drop
                svg
                    vertical-align: middle
                    path
                        fill: #D0A77F
                        transition: 0.5s ease
    .swiper-wrapper
        padding: 50px 0
        .grid-box-item
            border: 1px solid #BEBEBE
            transition: 0.5s ease
            &:hover
                background: linear-gradient(180deg, #FFFFFF 27.79%, #FBEEE1 100%)
                // border: 1px solid #FBEEE1
                figure img
                    scale: 1.1
                figcaption
                    button
                        background: #A56321
                        color: white
            figure
                height: 253px
                width: 100%
                overflow: hidden
                position: relative
                p
                    position: absolute
                    bottom: 0
                    left: 0
                    padding: 10px 30px 10px 30px
                    border-top-right-radius: 6px
                    border-bottom-right-radius: 6px
                    background: #EEBF91
                    color: black
                    margin: 0px 0px 30px 0px
                    font-weight: 450
                    font-size: 16px
                    line-height: 20px
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    transition: 0.3s ease-in-out
            figcaption
                padding: 30px 20px
                // span
                //     font-weight: 500
                //     color: #666666
                //     font-size: 14px
                h2
                    font-family: Lato
                    font-weight: 600
                    font-size: 18px
                    line-height: 1.2
                    margin-bottom: 10px
                    @include media(540)
                        font-size: 18px !important
                p
                    font-family: Lato
                    color: $text
                    font-weight: 500
                    font-size: 16px
                    line-height: 1.1
                button
                    border: 1px solid #A56321
                    padding: 10px 30px 
                    font-family: Lato
                    font-weight: 500
                    font-size: 16px
                    line-height: 20px
                    color: #A56321
                    margin: 20px 0 0 0
                    transition: 0.5s ease