@import '../_var'

html
    background: #FFF9F1

.hero-banner.blog-banner
    .video-wrapper
        &::before
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 8.75%, rgba(0, 0, 0, 0) 30.19%),linear-gradient(360deg, rgba(0, 0, 0, 0.7) 11.39%, rgba(0, 0, 0, 0) 47.71%)
            transform: scaleX(1)
        video
            transform: scaleX(1)
        .bg-wrapper 
            text-align: center
            margin: auto
            h1
                margin: auto
                text-align: center
            p
                text-align: center
                margin: 20px auto

.blog-secA
    padding: 50px 0
    .grid-box
        display: grid
        grid-template-columns: repeat(3,1fr)
        grid-gap: 30px 20px
        @include media(1024)
            grid-template-columns: repeat(3,1fr)
        @include media(768)
            grid-template-columns: repeat(2,1fr)
        @include media(540)
            grid-template-columns: repeat(1,1fr)
.blog-card
    background: $white
    box-shadow: 0px 2px 8px 0px #63636333
    transition: 0.5s ease
    display: inline-block
    &:hover
        figure img
            scale: 1.1
        figcaption
            button
                background: #A56321
                color: white
    figure
        height: 253px
        width: 100%
        line-height: 0
        overflow: hidden
        position: relative
        @include shine
        img
            width: 100%
            height: 100%
            object-fit: cover
            transition: 0.5s ease-in-out
    figcaption
        padding: 30px 20px
        h4
            font-family: Lato
            font-weight: 600
            font-size: 18px
            line-height: 24px
            color: $black
            width: 88%
            margin-bottom: 15px
        p
            font-family: Lato
            color: $text
            font-weight: 500
            font-size: 16px
            line-height: 1.1
                
// ========================================================= BLOG DETAILS ========================================================= //

.hero-banner.blog-detail-banner
    .video-wrapper
        &::before
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 36.53%),linear-gradient(360deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 42.5%)
            transform: scale(1)
        .bg-wrapper 
            h2
                font-weight: 400
                font-size: 16px
                color: $white
                margin-bottom: 30px
            h1
                font-weight: 500
                font-size: 32px
                line-height: 1.2
        .play-button
            position: absolute
            right: 2%
            bottom: 2%

   
.blog-details-secA
    padding: 50px 0
    .container
        max-width: 880px
    .content
        font-family: Lato
        figure
            height: 449px
            img
                width: 100%
                height: 100%
                object-fit: cover
        p
            font-weight: 400
            font-size: 16px
            text-align: justify
            margin-bottom: 25px
            color: $text
        h2
            font-weight: 600
            font-size: 25px
            color: black
            margin: 40px 0 10px 0
        h3
            font-weight: 600
            font-size: 18px
            color: black
            margin: 40px 0 10px 0
        h4
            font-weight: 600
            font-size: 16px
            color: black
            margin: 40px 0 10px 0
        h5
            font-weight: 600
            font-size: 14px
            color: black
            margin: 40px 0 10px 0
        ul
            margin-bottom: 20px
            margin-left: 10px
            li
                position: relative
                padding-left: 30px
                margin-bottom: 10px
                color: $text
                &::before
                    content: ""
                    position: absolute
                    left: 0
                    top: 50%
                    width: 14px
                    aspect-ratio: 1
                    border-radius: 50%
                    background: #AF694F
                    transform: translateY(-50%)

.blog-detail-secB
    padding: 50px 0 
    background: #FBEDDC
    h2
        text-align: center
        margin-bottom: 50px

.blog-detail-secC
    padding: 50px 0 
    .heading
        position: relative
        h2
            text-align: center
            margin-bottom: 50px
        .swiper-nav
            display: flex
            justify-content: center
            gap: 25px
            position: absolute
            bottom: 0
            right: 0
    .swiper-wrapper
        padding: 10px 0
    
            