@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.form {
  --inputsize: 42px;
  --labelbefore: var(--black);
  --labelafter: var(--black);
  --borderbefore: var(--black);
  --borderafter: var(--gradient-a);
  --labelfontbefore: 16px;
  --labelfontafter: 12px;
  --font: 500;
  --color: var(--black);
  --borderwidth: 1px;
  --labelbackground: none;
  --font: normal;
  --textareaheight: 86px;
  --paddingleftright: 0px;
}
.form .sbmt-grp {
  margin-top: 20px;
}
.form .form-group {
  position: relative;
  flex: 0 1 100%;
  max-width: 100%;
  width: 100%;
  --selectheight: var(--inputsize);
  line-height: 0;
}
.form .form-group.has-icon input {
  --iconsize: 18px;
  background-repeat: no-repeat;
  background-position: calc(100% - var(--paddingleftright, 0px)) 50%;
  padding-right: calc(var(--paddingleftright, 0px) + var(--iconsize, 0px) + var(--paddingleftright, 0px));
}
.form .form-group.has-icon.calender-icon input {
  background-image: url('data:image/svg+xml,%3Csvg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M17.5 2H14.5V0.5C14.5 0.367392 14.4473 0.240215 14.3536 0.146447C14.2598 0.0526785 14.1326 0 14 0C13.8674 0 13.7402 0.0526785 13.6464 0.146447C13.5527 0.240215 13.5 0.367392 13.5 0.5V2H6.5V0.5C6.5 0.367392 6.44732 0.240215 6.35355 0.146447C6.25979 0.0526785 6.13261 0 6 0C5.86739 0 5.74021 0.0526785 5.64645 0.146447C5.55268 0.240215 5.5 0.367392 5.5 0.5V2H2.5C1.8372 2.00079 1.20178 2.26444 0.73311 2.73311C0.264441 3.20178 0.000793929 3.8372 0 4.5V17.5C0.000793929 18.1628 0.264441 18.7982 0.73311 19.2669C1.20178 19.7356 1.8372 19.9992 2.5 20H17.5C18.163 20 18.7989 19.7366 19.2678 19.2678C19.7366 18.7989 20 18.163 20 17.5V4.5C20 3.83696 19.7366 3.20107 19.2678 2.73223C18.7989 2.26339 18.163 2 17.5 2ZM19 17.5C19 17.8978 18.842 18.2794 18.5607 18.5607C18.2794 18.842 17.8978 19 17.5 19H2.5C2.10218 19 1.72064 18.842 1.43934 18.5607C1.15804 18.2794 1 17.8978 1 17.5V9H19V17.5ZM19 8H1V4.5C1 3.672 1.67 3 2.5 3H5.5V4.5C5.5 4.63261 5.55268 4.75979 5.64645 4.85355C5.74021 4.94732 5.86739 5 6 5C6.13261 5 6.25979 4.94732 6.35355 4.85355C6.44732 4.75979 6.5 4.63261 6.5 4.5V3H13.5V4.5C13.5 4.63261 13.5527 4.75979 13.6464 4.85355C13.7402 4.94732 13.8674 5 14 5C14.1326 5 14.2598 4.94732 14.3536 4.85355C14.4473 4.75979 14.5 4.63261 14.5 4.5V3H17.5C17.8978 3 18.2794 3.15804 18.5607 3.43934C18.842 3.72064 19 4.10218 19 4.5V8Z" fill="%23666666" fill-opacity="0.7"/%3E%3C/svg%3E');
}
.form .form-group.has-icon.search-icon input {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.893 13.92L16.973 17M16 8.5C16 10.4891 15.2098 12.3968 13.8033 13.8033C12.3968 15.2098 10.4891 16 8.5 16C6.51088 16 4.60322 15.2098 3.1967 13.8033C1.79018 12.3968 1 10.4891 1 8.5C1 6.51088 1.79018 4.60322 3.1967 3.1967C4.60322 1.79018 6.51088 1 8.5 1C10.4891 1 12.3968 1.79018 13.8033 3.1967C15.2098 4.60322 16 6.51088 16 8.5Z' stroke='%23939393' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.form .form-group.active::after {
  width: 100%;
}
.form .form-group::before, .form .form-group::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--borderwidth);
  transition: 0.5s ease;
}
.form .form-group::before {
  background: var(--borderbefore);
}
.form .form-group::after {
  width: 0;
  background: var(--borderafter);
}
.form .form-group label {
  font-weight: var(--font);
  position: absolute;
  top: calc(var(--inputsize) / 2 - var(--labelfontbefore) / 2);
  left: var(--paddingleftright);
  color: var(--labelbefore);
  line-height: 1;
  font-size: var(--labelfontbefore);
  background: var(--labelbackground);
  transition: 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  font-family: Lato;
}
.form .form-group input, .form .form-group textarea {
  height: calc(var(--inputsize) - var(--borderwidth));
  border: none;
  resize: none;
  border-radius: 0px !important;
  width: 100%;
  background: none;
  color: var(--black);
  font-size: inherit;
  font-family: Lato;
  padding: 0 var(--paddingleftright);
}
.form .form-group input:focus, .form .form-group textarea:focus {
  outline: none;
}
.form .form-group input.valid, .form .form-group textarea.valid {
  outline: none;
}
.form .form-group input.valid ~ label, .form .form-group textarea.valid ~ label {
  font-size: var(--labelfontafter);
  color: var(--labelafter);
  top: calc(var(--labelfontafter) / -1);
}
.form .form-group input:not(.no-focus):focus, .form .form-group textarea:not(.no-focus):focus {
  outline: none;
}
.form .form-group input:not(.no-focus):focus ~ label, .form .form-group textarea:not(.no-focus):focus ~ label {
  font-size: var(--labelfontafter);
  color: var(--labelafter);
  top: calc(var(--labelfontafter) / -1);
}
.form .form-group input[readonly], .form .form-group textarea[readonly] {
  caret-color: transparent;
}
.form .form-group textarea {
  height: var(--textareaheight);
  border: none;
  resize: none;
  border-radius: 0px !important;
  width: 100%;
  background: none;
  color: var(--black);
  font-size: inherit;
  font-family: Lato;
  line-height: 1.2;
  cursor: initial;
}
.form .form-group textarea::-webkit-scrollbar {
  width: 2px;
  background: none;
  height: 2px;
}
.form .form-group textarea::-webkit-scrollbar-track {
  box-shadow: none;
}
.form .form-group textarea::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 15px;
}
.form .form-group textarea {
  padding: 0 var(--paddingleftright);
  padding-right: 15px;
}
.form .form-group textarea:focus, .form .form-group textarea.valid {
  outline: none;
  margin-top: 13px;
  height: calc(var(--textareaheight) - 13px);
}
.form .form-group select:focus {
  outline: none;
}
.form .form-group select ~ label {
  position: absolute;
  top: calc(var(--labelfontafter) / -2);
  left: var(--paddingleftright);
  color: var(--labelafter);
  translate: 0 0;
  font-size: var(--labelfontafter);
  opacity: 0;
  transition: 0.6s ease;
}
.form .form-group select.valid {
  color: var(--color);
}
.form .form-group select.valid ~ label {
  opacity: 1;
}
.form .form-group .error {
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  right: 0;
  color: red;
  line-height: normal;
  font-size: 12px;
}
.form .form-group.file-input input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 4;
  cursor: pointer;
}
.form .form-group.file-input .file-name {
  pointer-events: none;
  height: calc(var(--inputsize) - var(--borderwidth));
  position: relative;
  --filename: 'Attach Resume*';
  --filenameinitial: var(--filename);
  --color: var(--text);
  --background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: calc(var(--inputsize) - var(--borderwidth));
}
.form .form-group.file-input .file-name::before, .form .form-group.file-input .file-name::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.form .form-group.file-input .file-name::before {
  content: var(--filenameinitial);
  z-index: 2;
  font-family: Lato;
  font-size: inherit;
  line-height: calc(var(--inputsize) - var(--borderwidth));
  padding-left: var(--paddingleftright);
  color: var(--color);
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  background: none;
}
.form .form-group.file-input .file-name::after {
  content: "";
  right: 0;
  background: var(--image);
  background-repeat: no-repeat;
  z-index: 1;
  background-position: calc(100% - var(--paddingleftright, 0)) 50%;
  background-size: auto 50%;
}
.form .submit-grp:not(.text-left) {
  text-align: center;
  margin-top: 23px;
}

.custom-select {
  max-width: 100%;
  cursor: pointer;
  display: block;
  font-family: Lato;
  height: var(--inputsize);
  position: relative;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  white-space: nowrap;
  padding: 0 var(--paddingleftright);
  --arrow: 15px;
  --arrowspace: 8px;
}
.custom-select.has-icon {
  --iconsize: 12px;
  --iconurl: var(--iconpath);
  --iconspace: 8px;
}
.custom-select.has-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: var(--bgcolor);
}
.custom-select.has-icon::after {
  left: var(--paddingleftright, 0px);
  width: var(--iconsize);
  background-image: var(--iconurl);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 50%;
}
.custom-select.has-icon .current {
  padding-left: calc(var(--iconsize) + var(--iconspace));
  padding-right: calc(var(--arrow) + var(--iconsize) + var(--arrowspace) + var(--iconspace));
}
.custom-select::before {
  content: "";
  position: absolute;
  top: 0;
  right: var(--paddingleftright, 0);
  bottom: 0;
  width: var(--arrow);
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.custom-select .current {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: var(--inputsize);
  color: var(--labelbefore);
  font-size: var(--labelfontbefore);
  font-weight: var(--font);
  padding-right: calc(var(--arrow) + var(--arrowspace));
}
.custom-select .current.selected {
  color: var(--color);
}
.custom-select .list {
  text-align: left;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  transform-origin: 50% 0;
  z-index: 4;
  max-height: 180px;
  overflow-y: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.custom-select .list::-webkit-scrollbar {
  width: 4px;
  background: none;
  height: 4px;
}
.custom-select .list::-webkit-scrollbar-track {
  box-shadow: none;
}
.custom-select .list::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 5px;
}
.custom-select .list {
  pointer-events: none;
}
.custom-select .list li {
  display: block;
  line-height: 1.2;
  padding: 8px 16px;
  white-space: break-spaces;
  font-size: 14px;
}
.custom-select .list li.selected {
  background: var(--primary);
  color: var(--white);
}
.custom-select .list li.selected:hover {
  background: var(--primary);
  color: var(--white);
}
.custom-select .list li:hover {
  background: #e2e2e2;
}
.custom-select.open .list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.heading {
  text-align: center;
}
.heading h2 {
  margin-bottom: 20px;
}
.heading p {
  max-width: 600px;
  margin: auto;
}

:root {
  --headerpadding: 35px;
  --headerheight: 94px;
  --headerfixed: 65px;
  --footerstrip: 66px;
}
@media only screen and (max-width: 768px) {
  :root {
    --headerfixed: 50px;
  }
}
:root {
  --primary: #9D864D;
  --bgcolor: #03052E;
  --primary-hover: #000;
  --secondary: #03052E;
  --gradient-a: linear-gradient(90deg, #232963 0%, #4753C9 100%);
  --gradient-b: linear-gradient(270deg, #005659 0%, #0FD0D9 100%);
  --gradient-c: linear-gradient(270deg, #D8D8D8 0%, #EBEBEB 50%, #C5C5C5 100%);
  --gradient-d: linear-gradient(360deg, #E6E6E6 0%, #C6C6C6 100%);
  --gradient-e: linear-gradient(180deg, #E5E5E5 0%, #FFFFFF 46.5%, #F6F6F6 100%);
  --text: #666666;
  --green: green;
  --white: #FFFFFF;
  --litewhite:#c0c0c0;
  --black: #000000;
  --black-light: #313131;
  --gray: #F6F6F6;
  --container: 1280px;
  --containerfluid: 3rem;
}
@media only screen and (max-width: 1152px) {
  :root {
    --containerfluid: 1rem;
  }
}
@media only screen and (max-width: 991px) {
  :root {
    --containerfluid: 15px;
  }
}
@media only screen and (max-width: 320px) {
  :root {
    --containerfluid: 10px;
  }
}

body::-webkit-scrollbar {
  width: 10px;
  background: var(--black);
}
body::-webkit-scrollbar-track {
  box-shadow: none;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}
body.overflow-hidden {
  overflow: hidden;
  margin-right: 10px;
}
@media only screen and (max-width: 991px) {
  body.overflow-hidden {
    margin-right: 0;
  }
}
body.overflow-hidden header {
  width: calc(100% - 10px);
}
@media only screen and (max-width: 991px) {
  body.overflow-hidden header {
    width: 100%;
  }
}

::-webkit-scrollbar-thumb {
  background: var(--primary) !important;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bgcolor);
}

body, html {
  font-size: 16px;
  line-height: 1.5;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
}

b {
  font-weight: 500;
}

small {
  font-size: 14px;
  line-height: 22px;
  display: block;
}

.svg path {
  transition: none;
}
.svg path[stroke], .svg path[fill=none] {
  stroke: currentColor;
}
.svg path[fill] {
  fill: currentColor;
}

.gray-bg {
  background: #F3F3F3;
}

.primary-bg {
  background: var(--primary);
}

.c-primary {
  color: var(--primary);
}

.c-text {
  color: var(--text);
}

.c-red {
  color: red;
}

.c-green, .green-color {
  color: #13bb75 !important;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

select {
  display: none;
}

a[href] {
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s ease;
}
a[href].logo {
  display: block;
  line-height: 0;
}

svg path {
  transition: 0.5s ease;
}

.position-relative {
  position: relative;
}

.lh-normal {
  line-height: normal;
}

.cursor-pointer {
  cursor: pointer !important;
}

.container {
  max-width: var(--container);
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 1300px) {
  .container {
    padding: 0 25px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 345px) {
  .container {
    padding: 0 13px;
  }
}
@media only screen and (max-width: 320px) {
  .container {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 675px) {
  .container.container2 {
    padding-right: 0;
  }
}
@media only screen and (max-width: 675px) {
  .container.container2 .heading {
    padding-right: 15px;
  }
}
@media only screen and (max-width: 345px) {
  .container.container2 .heading {
    padding-right: 13px;
  }
}
@media only screen and (max-width: 320px) {
  .container.container2 .heading {
    padding-right: 10px;
  }
}

.container-fluid {
  padding: 0 var(--containerfluid);
  display: block;
  margin: 0 auto;
}

.social-icons {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

p {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text);
}

h1 {
  font-family: var(--font-optima);
  font-weight: 500;
  font-size: 70px;
  text-align: center;
  color: white;
}
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 48px;
  }
}
@media only screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 38px;
  }
}

h5 {
  font-family: Lato;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: var(--white);
}

h2 {
  font-family: Optima;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  color: var(--black);
}

h3 {
  font-size: 48px;
  line-height: 1.2;
}

h4 {
  font-size: 36px;
  line-height: 1.28;
  font-family: Lato;
}

h5 {
  font-size: 24px;
  line-height: 1.167;
}
@media only screen and (max-width: 1152px) {
  h5 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 675px) {
  h5 {
    font-size: 20px;
  }
}

h6 {
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.inline-flex {
  --gap: 12px;
  display: inline-flex;
  align-items: center;
  gap: 0 var(--gap);
}

img {
  max-width: 100%;
}

button, select {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
  font-size: inherit;
  border-radius: 0;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

video {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

button {
  border: none;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.tab-nav {
  cursor: default;
}
.tab-nav [data-tab] {
  cursor: pointer;
  caret-color: transparent;
}

.tab-nav-content {
  position: relative;
}
.tab-nav-content .tabs:not(.active) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.item-md {
  position: relative;
  display: block;
  position: relative;
}
.item-md::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: none;
}
.item-md::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: var(--bgcolor);
}
.item-md::before, .item-md::after {
  z-index: 1;
}
.item-md::after {
  content: none;
}
.item-md figure, .item-md .figure {
  display: block;
  overflow: hidden;
  line-height: 0;
  height: 100%;
}
.item-md figure img, .item-md figure video, .item-md figure iframe, .item-md .figure img, .item-md .figure video, .item-md .figure iframe {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease;
}
.item-md figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.item-md .link-md {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
.item-md.center-item figcaption {
  bottom: auto;
  top: 50%;
  translate: 0 -50%;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 5;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4588235294);
  transform: translateY(100%);
  transition: 0s ease 0.5s, opacity 0.5s ease;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .overlay {
    z-index: 2;
  }
}
.overlay.is-open {
  transition: opacity 1s ease;
  opacity: 1;
  transform: translateY(0%);
}

.btn {
  padding: 8px 17px;
  transition: 0.5s ease;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 40px;
}
.btn span {
  display: inline-block;
  color: var(--white);
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  transition: 0.5s ease;
}
.btn img {
  transition: 0.5s ease;
}
.btn.primary-btn {
  background: var(--primary);
  border: 1px solid var(--primary);
}
.btn.primary-btn:hover {
  background: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
}
.btn.primary-btn:hover span {
  color: var(--black);
}
.btn.primary-btn:hover .arrow-ico {
  filter: invert(1);
}
.btn.white-btn {
  background: white;
  border: 1px solid var(--white);
}
.btn.white-btn span {
  color: black;
  transition: 0.5s ease;
}
.btn.white-btn .arrow-ico {
  filter: brightness(0);
  transition: 0.5s ease;
}
.btn.white-btn:hover {
  background: var(--primary);
  color: var(--white);
  border: 1px solid var(--primary);
}
.btn.white-btn:hover span {
  color: var(--white);
}
.btn.white-btn:hover .arrow-ico {
  filter: invert(0);
}
.btn.black-border-btn {
  background: white;
  border: 1px solid var(--black);
}
.btn.black-border-btn span {
  color: black;
  transition: 0.5s ease;
}
.btn.black-border-btn .arrow-ico {
  filter: brightness(0);
  transition: 0.5s ease;
}
.btn.black-border-btn:hover {
  background: var(--primary);
  border: 1px solid var(--primary);
}
.btn.black-border-btn:hover span {
  color: var(--white);
}
.btn.black-border-btn:hover .arrow-ico {
  filter: brightness(1);
}
.btn.circle-btn {
  margin-top: 0;
  font-family: Lato;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border-radius: 25px;
  border: 1px solid white;
  padding: 8px 25px;
  background: transparent;
}
.btn.circle-btn-white {
  color: black;
  background: white;
}
.btn.circle-btn-white:hover {
  background: transparent;
  color: white;
}
.btn.circle-btn-border {
  color: white;
}
.btn.circle-btn-border:hover {
  background: white;
  color: black;
}

.btn2 {
  padding: 10px 0;
  border-radius: 25px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px 0;
}
.btn2 a, .btn2 button {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
  padding: 10px 24px;
  border-radius: 25px;
  background: var(--gradient-b);
  overflow: hidden;
  z-index: 0;
  transition: color 0.5s ease;
}
@media only screen and (max-width: 768px) {
  .btn2 a, .btn2 button {
    padding: 5px 24px;
  }
}
.btn2 a::before, .btn2 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 25px;
  background: var(--gradient-a);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.btn2 a::after, .btn2 button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.2);
}
.btn2 a:hover, .btn2 button:hover {
  color: var(--white);
}
.btn2 a:hover::before, .btn2 button:hover::before {
  opacity: 1;
}

.model {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 70;
  background: var(--white);
  background-position: 0% 80%;
  background-size: 75%;
  max-width: 435px;
  width: 100%;
}
.model .close {
  cursor: pointer;
}
.model .close:not(.btn, .close-video, .not-ab) {
  position: absolute;
  top: 0;
  right: 0;
  top: 25px;
  right: 25px;
  line-height: 0;
  z-index: 1;
}
@media only screen and (max-width: 520px) {
  .model .close:not(.btn, .close-video, .not-ab) {
    top: 20px;
    right: 20px;
  }
}
.model .close:not(.btn, .close-video, .not-ab) path {
  stroke: var(--black);
}

.form-grid {
  --item: 1;
  --gaplr: 30px;
  --gaptb: 32px;
  display: grid;
  grid-template-columns: repeat(var(--item), calc((100% - var(--gaplr) * (var(--item) - 1)) / var(--item)));
  gap: var(--gaptb) var(--gaplr);
}
.form-grid .full {
  grid-column: span var(--item);
}

.btn-div-btm > *:not(:last-child) {
  margin-right: 14px;
}
@media only screen and (max-width: 675px) {
  .btn-div-btm > *:not(:last-child) {
    margin-right: 8px;
  }
}
@media only screen and (max-width: 675px) {
  .btn-div-btm .btn {
    --padding: 12px;
    font-size: 14px;
  }
}

.swiper-slide {
  height: auto;
}

.swiper-nav {
  line-height: 0;
}
.swiper-nav.center-full {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media only screen and (max-width: 540px) {
  .swiper-nav.center-full {
    display: none;
  }
}
.swiper-nav.center-full .swiper-prev, .swiper-nav.center-full .swiper-next {
  pointer-events: all;
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}
.swiper-nav.hide-btn-no-loop .swiper-prev.swiper-button-disabled, .swiper-nav.hide-btn-no-loop .swiper-next.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}
.swiper-nav.swiper-group {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.swiper-prev svg, .swiper-prev img, .certificate-prev svg, .certificate-prev img {
  transform: scaleX(-1);
}

.swiper-prev, .swiper-next {
  --size: 45px;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary);
  border: 1px solid var(--secondary);
  transition: 0.5s ease;
  color: var(--white);
}
.swiper-prev:not(.no-background) path[stroke], .swiper-prev:not(.no-background) path[fill=none], .swiper-next:not(.no-background) path[stroke], .swiper-next:not(.no-background) path[fill=none] {
  stroke: var(--black);
}
.swiper-prev:not(.no-background) path[fill], .swiper-next:not(.no-background) path[fill] {
  fill: var(--black);
}
.swiper-prev:hover:not(.swiper-button-disabled, .no-background), .swiper-next:hover:not(.swiper-button-disabled, .no-background) {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--white);
}
.swiper-prev.no-background, .swiper-next.no-background {
  height: auto;
  width: auto;
  display: block;
  background: none;
  border: none;
  line-height: 0;
}
.swiper-prev.no-background:hover, .swiper-next.no-background:hover {
  background: none;
}
.swiper-prev.white, .swiper-next.white {
  background: var(--white);
  border-color: var(--white);
  color: var(--secondary);
}
.swiper-prev.white:hover:not(.swiper-button-disabled), .swiper-next.white:hover:not(.swiper-button-disabled) {
  background: var(--secondary);
  border-color: var(--secondary);
  color: var(--white);
}
.swiper-prev.secondary-border, .swiper-next.secondary-border {
  border-color: var(--secondary);
  background: none;
  color: var(--secondary);
}
.swiper-prev.secondary-border:hover:not(.swiper-button-disabled), .swiper-next.secondary-border:hover:not(.swiper-button-disabled) {
  background: var(--secondary);
  color: var(--white);
}
.swiper-prev.white-border, .swiper-next.white-border {
  border-color: var(--white);
  background: none;
  color: var(--white);
}
.swiper-prev.white-border:hover:not(.swiper-button-disabled), .swiper-next.white-border:hover:not(.swiper-button-disabled) {
  background: var(--white);
  color: var(--secondary);
}
.swiper-prev.gray-border, .swiper-next.gray-border {
  border-color: var(--black);
  background: none;
  color: var(--text);
}
.swiper-prev.gray-border:hover:not(.swiper-button-disabled), .swiper-next.gray-border:hover:not(.swiper-button-disabled) {
  border-color: var(--primary);
  background: var(--primary);
  color: var(--white);
}
.swiper-prev.green-border, .swiper-next.green-border {
  border-color: var(--primary);
  background: none;
  color: var(--text);
}
.swiper-prev.green-border:hover:not(.swiper-button-disabled), .swiper-next.green-border:hover:not(.swiper-button-disabled) {
  border-color: var(--primary);
  background: var(--primary);
  color: var(--white);
}
.swiper-prev.gray-arrow, .swiper-next.gray-arrow {
  color: #888888;
}
.swiper-prev.black-arrow, .swiper-next.black-arrow {
  color: var(--black);
}
.swiper-prev.black-arrow:hover:not(.swiper-button-disabled), .swiper-next.black-arrow:hover:not(.swiper-button-disabled) {
  color: var(--secondary);
}
.swiper-prev.swiper-button-disabled, .swiper-next.swiper-button-disabled {
  cursor: no-drop;
  opacity: 0.4;
}
.swiper-prev.swiper-button-lock, .swiper-next.swiper-button-lock {
  display: none !important;
}

.play-btn {
  --btnsize: 51px;
  --border: 1px;
  --bordercolor: var(--white);
  --playbtncolor: var(--white);
  height: var(--btnsize);
  width: var(--btnsize);
  border-radius: 50%;
  border: var(--border) solid var(--bordercolor);
  position: relative;
  background: none;
}
@media only screen and (max-width: 1024px) {
  .play-btn {
    --btnsize: 50px;
  }
}
@media only screen and (max-width: 675px) {
  .play-btn {
    --btnsize: 45px;
    --border: 1px;
  }
}
.play-btn::before {
  width: 100%;
  height: 100%;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  position: absolute;
  content: "";
  transform: translateX(-50%) translateY(-50%);
  background: var(--bordercolor);
  border-radius: 50%;
  display: block;
  animation: pulse-border 1500ms ease-out infinite;
}
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.play-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 0;
  height: 0;
  border-top: calc(var(--btnsize) / 8) solid transparent;
  border-bottom: calc(var(--btnsize) / 8) solid transparent;
  border-left: calc(var(--btnsize) / 5.6) solid var(--playbtncolor);
}

.website-content > :first-child {
  margin-top: 0 !important;
}
.website-content > :last-child {
  margin-bottom: 0 !important;
}
.website-content h1 {
  font-size: 48px;
  margin-bottom: 45px;
  text-align: center;
  font-weight: normal;
}
@media only screen and (max-width: 675px) {
  .website-content h1 {
    font-size: 34px;
  }
}
@media only screen and (max-width: 520px) {
  .website-content h1 {
    font-size: 30px;
    font-weight: bold;
  }
}
.website-content h2 {
  font-size: 34px;
  font-weight: 500;
}
@media only screen and (max-width: 675px) {
  .website-content h2 {
    font-size: 24px;
  }
}
.website-content h3 {
  font-size: 28px;
  line-height: 1.21;
  font-weight: 500;
}
@media only screen and (max-width: 675px) {
  .website-content h3 {
    font-size: 22px;
  }
}
.website-content h4 {
  font-size: 24px;
  font-weight: 500;
}
@media only screen and (max-width: 675px) {
  .website-content h4 {
    font-size: 20px;
  }
}
.website-content h5 {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
}
@media only screen and (max-width: 675px) {
  .website-content h5 {
    font-size: 18px;
  }
}
.website-content h6 {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 600;
}
.website-content h2, .website-content h3, .website-content h4 {
  margin: 0px 0 18px;
}
.website-content h5, .website-content h6 {
  margin: 22px 0 18px;
}
.website-content p, .website-content li {
  color: var(--text);
  text-align: justify;
  hyphens: auto;
}
@media only screen and (max-width: 520px) {
  .website-content p, .website-content li {
    font-size: 14px;
  }
}
.website-content p b, .website-content li b {
  font-weight: 600;
  color: var(--black);
}
.website-content a {
  color: var(--black);
}
.website-content a:hover {
  text-decoration: underline;
}
.website-content p, .website-content ul {
  margin-bottom: 30px;
}
.website-content ul {
  padding-left: 18px;
}
@media only screen and (max-width: 675px) {
  .website-content ul {
    padding-left: 10px;
  }
}
.website-content ul li {
  position: relative;
  padding-left: 28px;
}
@media only screen and (max-width: 675px) {
  .website-content ul li {
    padding-left: 20px;
  }
}
.website-content ul li:not(:last-child) {
  margin-bottom: 6px;
}
.website-content ul li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--primary);
}
@media only screen and (max-width: 520px) {
  .website-content ul li::before {
    width: 6px;
  }
}
.website-content.website-content-medium h2, .website-content.website-content-medium h3, .website-content.website-content-medium h4 {
  margin: 20px 0 18px;
  font-size: 20px;
  font-weight: 500;
}
.website-content.website-content-medium h5, .website-content.website-content-medium h6 {
  font-size: 18px;
  font-weight: 500;
}
.website-content.website-content-medium p, .website-content.website-content-medium ul {
  margin-bottom: 20px;
}

[data-video], [data-model], [data-scrollTo] {
  cursor: pointer;
}

.mt-hdr {
  margin-top: var(--headerheight);
}

.mt-hdrfix {
  margin-top: var(--headerfixed);
}

.banner {
  position: relative;
}
.banner.center-banner .banner-wrapper {
  bottom: 50%;
  translate: 0 50%;
}
.banner.common-banner {
  padding: 90px 0;
}
.banner .bg {
  line-height: 0;
  height: 100vh;
}
@media only screen and (max-width: 1152px) {
  .banner .bg {
    height: 520px;
  }
}
@media only screen and (max-width: 520px) {
  .banner .bg {
    height: 320px;
  }
}
.banner .bg video, .banner .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .banner-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15%;
  z-index: 3;
}
@media only screen and (max-width: 520px) {
  .banner .banner-wrapper {
    bottom: 18%;
  }
}
.banner .content.content-white > *:not(.btn) {
  color: var(--white);
}
.banner .content.content-font2 h1 {
  color: var(--black-light);
  font-weight: 600;
  line-height: 1.25;
}
.banner .content.ttl-m h1 {
  font-size: 36px;
}
.banner .content.f-semibold h1 {
  font-weight: 600;
}
.banner .content .ico {
  line-height: 0;
  margin-bottom: 30px;
}
.banner .content .ico img {
  width: 68px;
}
.banner .content h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  max-width: 527px;
  font-weight: 600;
}
@media only screen and (max-width: 1152px) {
  .banner .content h1 {
    font-size: 42px;
  }
}
@media only screen and (max-width: 767px) {
  .banner .content h1 {
    font-size: 34px;
  }
}
.banner .content h1:has(~ *) {
  margin-bottom: 10px;
}
.banner .content p {
  font-weight: 500;
}
@media only screen and (max-width: 520px) {
  .banner .content p {
    font-size: 14px;
  }
}
.banner .content p:has(~ *) {
  margin-bottom: 10px;
}
.banner .content h6 {
  font-size: 18px;
  line-height: 1.34;
  color: var(--text);
  margin-top: 12px;
  font-weight: 500;
}
@media only screen and (max-width: 520px) {
  .banner .content h6 {
    font-size: 14px;
  }
}
.banner .content h6:has(~ *) {
  margin-bottom: 10px;
}
.banner .content h4 {
  font-size: 24px;
}
.banner .content h4:has(~ *) {
  margin-bottom: 10px;
}
.banner .content h5 {
  font-size: 20px;
  line-height: 1.5;
  color: var(--text);
  margin-bottom: 10px;
}
.banner .content h5:has(~ *) {
  margin-bottom: 10px;
}

.swiper-pagination-bullets {
  --swiper-pagination-bullet-size: 13px;
  --swiper-pagination-color: var(--primary);
}
@media only screen and (max-width: 540px) {
  .swiper-pagination-bullets {
    --swiper-pagination-bullet-size: 10px;
  }
}

.btn-div-wrap > *:not(:last-child) {
  margin-right: 20px;
}
@media only screen and (max-width: 675px) {
  .btn-div-wrap > *:not(:last-child) {
    margin-right: 5px;
  }
}
@media only screen and (max-width: 675px) {
  .btn-div-wrap .btn {
    --padding: 10px;
  }
}

.common-grid-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 25px;
}
@media only screen and (max-width: 991px) {
  .common-grid-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 675px) {
  .common-grid-wrap {
    grid-template-columns: 100%;
  }
}

.slider-section .upper-sec {
  position: relative;
  padding-top: 4rem;
}
.slider-section .upper-sec .swiper-nav {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
@media only screen and (max-width: 675px) {
  .slider-section .upper-sec .swiper-nav {
    display: none;
  }
}

.news-col {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2392156863);
}
.news-col:has(.figure:is(a):hover, .figcaption .ttl:is(a):hover, .figcaption .read-more-btn:is(a):hover) .figure::before {
  animation: shine 0.4s linear;
}
.news-col:has(.figure:is(a):hover, .figcaption .ttl:is(a):hover, .figcaption .read-more-btn:is(a):hover) .figure img {
  transform: scale(1.04);
  width: 100%;
}
.news-col:has(.figure:is(a):hover, .figcaption .ttl:is(a):hover, .figcaption .read-more-btn:is(a):hover) .figcaption .ttl {
  color: var(--primary);
}
.news-col:has(.figure:is(a):hover, .figcaption .ttl:is(a):hover, .figcaption .read-more-btn:is(a):hover) .figcaption .desc {
  color: var(--black);
}
.news-col:has(.figure:is(a):hover, .figcaption .ttl:is(a):hover, .figcaption .read-more-btn:is(a):hover) .figcaption .date {
  color: var(--text);
}
.news-col:has(.figure:is(a):hover, .figcaption .ttl:is(a):hover, .figcaption .read-more-btn:is(a):hover) .figcaption .read-more-btn {
  border-color: var(--primary);
  background: var(--primary);
  color: var(--black);
}
.news-col .figure {
  height: 361px;
  line-height: 0;
  display: block;
  overflow: hidden;
  position: relative;
}
.news-col .figure::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 55px 12px white;
  transform: skewX(-20deg);
  z-index: 1;
}
.news-col .figure:hover::before {
  animation: shine 0.4s linear;
  animation-fill-mode: none;
}
.news-col .figure {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}
.news-col .figure img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1.2;
  transition: 0.5s ease;
  position: relative;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-col .figinfo {
  position: absolute;
  color: white;
  text-align: center;
  width: 100%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.news-col .figinfo h5 {
  font-weight: 700;
  font-size: 28px;
  line-height: 45px;
  margin-bottom: 10px;
}
.news-col .figinfo p {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--white);
  text-align: center;
}
.news-col .figcaption {
  --pdt: 18px;
  --pdlr: 24px;
  --pdb: -40px;
  --btnsize: 40px;
  --btnmargin: 27px;
  padding: var(--pdt) var(--pdlr) calc(var(--pdb) + var(--btnmargin) + var(--btnsize));
  position: relative;
  flex: 1;
}
.news-col .figcaption .btn-div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 0 var(--pdlr) var(--pdb);
}
.news-col .figcaption .ttl {
  display: block;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--black);
  margin-bottom: 10px;
}
.news-col .figcaption .desc, .news-col .figcaption .date {
  font-weight: 500;
  transition: 0.5s ease;
}
.news-col .figcaption .desc {
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 16px;
}
.news-col .figcaption .date {
  color: var(--primary);
  line-height: 1.375;
}

.product-item:has(.figure:is(a):hover, .figcaption .dtl-btn:is(a):hover) .figure img {
  transform: scale(1.04);
}
.product-item:has(.figure:is(a):hover, .figcaption .dtl-btn:is(a):hover) .figcaption .dtl-btn {
  background: var(--black);
  color: var(--white);
}
.product-item .figure {
  display: block;
  line-height: 0;
}
.product-item .figure img {
  width: 100%;
  transition: 1s ease;
}
.product-item .figcaption {
  padding-top: 30px;
  text-align: center;
}
.product-item .figcaption h4 {
  font-size: 32px;
}
.product-item .figcaption h5 {
  font-size: 24px;
}
.product-item .figcaption h4, .product-item .figcaption h5 {
  line-height: 1.167;
  font-weight: 600;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 520px) {
  .breadcrumps {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
  }
}
.breadcrumps li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.breadcrumps li::before {
  content: ">";
  position: absolute;
  left: 100%;
  top: 50%;
  translate: 0 -50%;
  font-size: 12px;
  color: var(--text);
}
.breadcrumps li:last-child::before {
  display: none;
}
.breadcrumps li a {
  color: var(--text);
  font-size: 14px;
  font-weight: 500;
}
@media only screen and (max-width: 520px) {
  .breadcrumps li a {
    font-size: 12px;
    text-overflow: ellipsis;
  }
}
.breadcrumps li a.active {
  color: var(--black);
}
.breadcrumps li:not(:last-child) {
  position: relative;
  padding-right: 20px;
}
@media only screen and (max-width: 520px) {
  .breadcrumps li:not(:last-child) {
    padding-right: 8px;
  }
}
.breadcrumps li:not(:first-child) {
  padding-left: 20px;
}
@media only screen and (max-width: 520px) {
  .breadcrumps li:not(:first-child) {
    padding-left: 8px;
  }
}

.bg-circle {
  position: relative;
  --bgcolor: rgb(256 256 256);
  --bgsize: 30%;
  --top: 50%;
  --right: 10%;
}
.bg-circle::before {
  top: var(--top);
  right: var(--right);
  content: "";
  position: absolute;
  z-index: 0;
  width: var(--bgsize);
  aspect-ratio: 1;
  background: var(--bgcolor);
  filter: blur(152.3000030518px);
}
.bg-circle .container {
  position: relative;
  z-index: 1;
}

.common-slider-1 .swiper {
  max-width: calc(100% - 45px);
}
@media only screen and (max-width: 540px) {
  .common-slider-1 .swiper {
    max-width: 100%;
  }
}

.swiper-prev.has-shadow, .swiper-next.has-shadow {
  box-shadow: 0px 1px 3px 1px rgba(60, 64, 67, 0.1490196078), 0px 1px 2px 0px rgba(60, 64, 67, 0.3019607843);
}

@keyframes scroll {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(10px);
  }
}
.sticky {
  position: sticky;
  top: 20px;
  z-index: 1;
}
@media only screen and (max-width: 540px) {
  .sticky {
    position: static;
  }
}

.flex-box {
  display: flex;
}

.grid-box {
  display: grid;
}

@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
}
@keyframes fadeInIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.information-pop {
  max-width: 70%;
  background: var(--white);
  transition: 0.7s ease;
  z-index: 9999;
  top: 50%;
  left: 50%;
  bottom: auto;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  transform-origin: left center;
  scale: 0;
  max-height: 70vh;
  overflow: auto;
}
.information-pop::-webkit-scrollbar {
  width: 4px;
}
.information-pop::-webkit-scrollbar-track {
  box-shadow: unset;
  background: #AF694F;
}
.information-pop::-webkit-scrollbar-thumb {
  background-color: #AF694F;
}
@media only screen and (max-width: 540px) {
  .information-pop {
    max-width: 100vw;
    max-height: 100vh;
    top: 0%;
    left: 0%;
    transform: none;
    border-radius: 0px;
  }
}
.information-pop::before {
  z-index: 2;
}
.information-pop.is-open {
  scale: 1;
}
.information-pop .close {
  display: flex;
  align-items: center;
  gap: 0 10px;
  top: 40px;
  right: 40px;
}
@media only screen and (max-width: 675px) {
  .information-pop .close {
    top: 20px;
    right: 20px;
  }
}
.information-pop .close path {
  stroke: var(--black) !important;
}
.information-pop .model-body {
  padding: 40px;
  height: 100%;
  overflow-y: auto;
}
@media only screen and (max-width: 540px) {
  .information-pop .model-body {
    height: 100vh;
    padding: 50px 25px 50px;
  }
}
.information-pop .model-body .flex-box {
  display: flex;
  justify-content: start;
  gap: 30px;
}
@media only screen and (max-width: 540px) {
  .information-pop .model-body .flex-box {
    display: block;
  }
}
.information-pop .model-body .flex-box .flex-box-item:first-child {
  width: 30%;
  position: relative;
}
@media only screen and (max-width: 540px) {
  .information-pop .model-body .flex-box .flex-box-item:first-child {
    width: 100%;
    margin-bottom: 30px;
  }
}
.information-pop .model-body .flex-box .flex-box-item:first-child .user-image {
  position: sticky;
  top: 0;
  background: #D2EBFF;
  border-radius: 10px;
  line-height: 0;
}
@media only screen and (max-width: 540px) {
  .information-pop .model-body .flex-box .flex-box-item:first-child .user-image {
    max-width: 100%;
    margin: auto;
  }
}
.information-pop .model-body .flex-box .flex-box-item:first-child .social-icon {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
}
@media only screen and (max-width: 768px) {
  .information-pop .model-body .flex-box .flex-box-item:first-child .social-icon {
    top: 5px;
    right: 5px;
  }
}
@media only screen and (max-width: 540px) {
  .information-pop .model-body .flex-box .flex-box-item:first-child .social-icon {
    top: 20px;
    right: 20px;
  }
}
.information-pop .model-body .flex-box .flex-box-item:first-child .social-icon img {
  width: 80%;
}
@media only screen and (max-width: 540px) {
  .information-pop .model-body .flex-box .flex-box-item:first-child .social-icon {
    margin-top: 0;
  }
}
.information-pop .model-body .flex-box .flex-box-item:last-child {
  width: 70%;
}
@media only screen and (max-width: 540px) {
  .information-pop .model-body .flex-box .flex-box-item:last-child {
    width: 100%;
    text-align: center;
  }
}
.information-pop .model-body .flex-box .flex-box-item:last-child .user-name p {
  font-size: 22px;
  color: black;
}
.information-pop .model-body .flex-box .flex-box-item:last-child .degination {
  border-bottom: 1px solid rgba(102, 102, 102, 0.5490196078);
  padding-bottom: 4px;
  margin-bottom: 15px;
}
.information-pop .model-body .flex-box .flex-box-item:last-child .degination p {
  font-size: 14px;
}
.information-pop .model-body .flex-box .flex-box-item:last-child .description-text p {
  color: var(--text);
  font-size: 14px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 540px) {
  .information-pop .model-body .flex-box .flex-box-item:last-child .description-text p {
    text-align: center;
  }
}

.load-more {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.load-more:hover figure img {
  transform: rotate(360deg);
}
.load-more figure {
  width: 44px;
  height: 44px;
  margin: auto;
}
.load-more figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.5s ease;
}

.product-not-found {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}
.product-not-found.not-found2 {
  position: relative;
}
.product-not-found .nt-fnd-wrp {
  text-align: center;
}
.product-not-found .nt-fnd-wrp .ico {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  filter: grayscale(1);
}
.product-not-found .nt-fnd-wrp p {
  font-family: "Lato";
  font-size: 18px;
  margin: 10px 0 3rem;
}

.custom-select .option-type {
  flex: 1;
  border: 1px solid #9A761B;
  border-radius: 25px;
  padding: 2px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.custom-select .option-type p {
  font-weight: 500;
  font-size: 16px;
  color: #9A761B;
}
.custom-select .option-type .ico img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.custom-select .options-wrapper {
  position: absolute;
  top: 100%;
  min-width: 170px;
  right: 0;
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.5s ease;
}
.custom-select .options-wrapper.open {
  grid-template-rows: 1fr;
}
.custom-select .options-wrapper .options {
  background: var(--white);
  z-index: 1;
  max-height: 150px;
  overflow-y: auto;
}
.custom-select .options-wrapper .options::-webkit-scrollbar {
  width: 4px;
}
.custom-select .options-wrapper .options::-webkit-scrollbar-track {
  background: transparent;
}
.custom-select .options-wrapper .options::-webkit-scrollbar-thumb {
  background: var(--primary);
}
.custom-select .options-wrapper .options li {
  padding: 6px 12px;
  cursor: pointer;
  line-height: 1.4;
  transition: 0.3s ease;
  font-size: 14px;
  font-family: Lato;
  text-wrap: wrap;
}
.custom-select .options-wrapper .options li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.custom-select .options-wrapper .options li.selected {
  background: var(--bglight);
}
.custom-select .options-wrapper .options li:hover {
  background: var(--primary);
  color: var(--white);
}

.hero-banner.contact-banner {
  position: relative;
  color: white;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 1024px) {
  .hero-banner.contact-banner {
    height: 70vh;
  }
}
@media only screen and (max-width: 991px) {
  .hero-banner.contact-banner {
    height: 60vh;
  }
}
.hero-banner.contact-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 63.46%, rgba(0, 0, 0, 0.85) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 31.73%, rgba(0, 0, 0, 0.85) 94.72%);
}
.hero-banner.contact-banner .bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.hero-banner.contact-banner .bg-wrapper {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
@media only screen and (max-width: 540px) {
  .hero-banner.contact-banner .bg-wrapper {
    top: inherit;
    bottom: 10%;
  }
}
.hero-banner.contact-banner .bg-wrapper h1 {
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  color: white;
  line-height: 1.1;
  max-width: none;
}
@media only screen and (max-width: 540px) {
  .hero-banner.contact-banner .bg-wrapper h1 {
    font-weight: 600;
    font-size: 38px;
    margin-bottom: 10px;
  }
}
.hero-banner.contact-banner .bg-wrapper p {
  font-family: Lato;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: white;
  max-width: none;
  margin: 10px 0 0;
}
@media only screen and (max-width: 540px) {
  .hero-banner.contact-banner .bg-wrapper p {
    max-width: 80%;
    margin: auto;
  }
}

.contact-secA {
  overflow: hidden;
  padding: 70px 0;
  position: relative;
  overflow: hidden;
  background: #FFF9F1;
}
.contact-secA::before {
  content: "";
  position: absolute;
  width: 328px;
  height: 288px;
  top: 78px;
  right: -26px;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .contact-secA::before {
    bottom: 0;
    top: inherit;
  }
}
.contact-secA .grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: flex-start;
  justify-content: center;
  z-index: 2;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .contact-secA .grid-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 540px) {
  .contact-secA .grid-box {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }
}
.contact-secA .grid-box .grid-box-item {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1607843137);
  height: 100%;
  padding: 20px;
  background: linear-gradient(180deg, #FFF9F1 0%, #FFF1DE 100%);
}
.contact-secA .grid-box .grid-box-item .flex {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 40px;
}
.contact-secA .grid-box .grid-box-item .flex figure {
  margin-bottom: 8px;
}
.contact-secA .grid-box .grid-box-item .flex h4 {
  font-size: 18px;
  font-weight: 600;
  font-family: Lato;
  margin-bottom: 12px;
}
.contact-secA .grid-box .grid-box-item .flex .desc {
  text-align: center;
  color: var(--text);
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}
.contact-secA .grid-box .grid-box-item .flex .social {
  display: flex;
  gap: 16px;
}
.contact-secA .grid-box .grid-box-item .flex .social li a {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  border: 1px solid var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-secA .grid-box .grid-box-item .flex .social li a:hover {
  background: var(--primary);
}
.contact-secA .grid-box .grid-box-item .flex .social li a:hover img {
  filter: invert(100) brightness(100);
}
.contact-secA .grid-box .grid-box-item .flex .redirect {
  font-family: Lato;
  color: var(--primary);
  font-weight: 700;
}
.contact-secA .grid-box .grid-box-item .flex .redirect img {
  vertical-align: middle;
  margin-left: 6px;
  transition: 0.4s ease;
}
.contact-secA .grid-box .grid-box-item .flex .redirect:hover img {
  transform: translateX(6px);
}

.contact-secB {
  overflow: hidden;
  padding: 20px 0 100px 0;
  position: relative;
  overflow: hidden;
  background: #FFF9F1;
}
@media only screen and (max-width: 540px) {
  .contact-secB {
    padding: 50px 0;
  }
}
.contact-secB .box {
  margin: auto;
  max-width: 779px;
  height: auto;
}
.contact-secB .box .heading {
  text-align: center;
  margin-bottom: 70px;
}
@media only screen and (max-width: 540px) {
  .contact-secB .box .heading {
    margin-bottom: 30px;
  }
}
.contact-secB .box .heading .icon {
  margin-bottom: 18px;
}
.contact-secB .box .heading h2 {
  font-family: Optima;
  font-weight: 550;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  max-width: 451px;
  margin: auto;
  margin-bottom: 20px;
}
@media only screen and (max-width: 540px) {
  .contact-secB .box .heading h2 {
    font-size: 25px !important;
    margin-bottom: 10px;
    line-height: 1.1;
  }
}
.contact-secB .box .heading p {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
}
@media only screen and (max-width: 540px) {
  .contact-secB .box .heading p {
    max-width: 80%;
    margin: 10px auto;
  }
}
.contact-secB .box .form {
  margin: auto;
  --item: 2;
}
@media only screen and (max-width: 768px) {
  .contact-secB .box .form {
    max-width: 80%;
  }
}
@media only screen and (max-width: 540px) {
  .contact-secB .box .form {
    --item: 1;
    --gaptb: 22px;
    max-width: 90%;
  }
}
.contact-secB .box .form .form-group::before {
  background: var(--text);
}
.contact-secB .box .form .form-group .custom-select .current {
  color: var(--white);
}
.contact-secB .box .form label, .contact-secB .box .form textarea {
  color: var(--text);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: Lato;
}
.contact-secB .box .form input, .contact-secB .box .form input ~ label, .contact-secB .box .form textarea ~ label {
  color: var(--text);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: Lato;
}
.contact-secB .box .form .bottom-btn {
  text-align: center;
}
.contact-secB .box .form .bottom-btn button {
  margin: 16px auto 0;
  padding: 8px 36px;
}
.contact-secB .box .form .dropdown-input {
  text-align: left;
}
.contact-secB .box .form .dropdown-input .list li {
  color: var(--white);
  transition: 0.5s ease;
}
.contact-secB .box .form .dropdown-input .list li.focus {
  color: white;
}
.contact-secB .box .form .dropdown-input .list li:hover {
  color: var(--white);
  background: var(--white);
}
.contact-secB .box .form .btn2 {
  margin: 10px auto 0px auto;
}

.contact-secC {
  overflow: hidden;
  height: auto;
  margin-bottom: -6.9px;
  position: relative;
}
.contact-secC iframe {
  width: 100%;
  margin-bottom: 0;
  height: 536px;
}
@media only screen and (max-width: 991px) {
  .contact-secC iframe {
    height: 50vh;
  }
}
@media only screen and (max-width: 540px) {
  .contact-secC iframe {
    height: 60vh;
  }
}/*# sourceMappingURL=contact.css.map */