@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.hero-banner {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .hero-banner {
    height: 80vh;
  }
}
@media only screen and (max-width: 768px) {
  .hero-banner {
    height: 60vh;
  }
}
.hero-banner .video-wrapper {
  width: 100%;
  height: 100%;
}
.hero-banner .video-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 63.46%, rgba(0, 0, 0, 0.85) 100%), linear-gradient(270deg, rgba(0, 0, 0, 0.8) 24.57%, rgba(0, 0, 0, 0) 78.28%);
  z-index: 1;
  transform: scaleX(-1);
}
@media only screen and (max-width: 768px) {
  .hero-banner .video-wrapper::before {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 63.46%, rgba(0, 0, 0, 0.8509803922) 100%), linear-gradient(2deg, rgba(0, 0, 0, 0.8) 24.57%, rgba(0, 0, 0, 0) 78.28%);
  }
}
.hero-banner .video-wrapper video, .hero-banner .video-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scaleX(-1);
}
.hero-banner .video-wrapper .bg-wrapper {
  width: 100%;
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  bottom: 13%;
  max-width: 93%;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  .hero-banner .video-wrapper .bg-wrapper {
    bottom: 22%;
  }
}
@media only screen and (max-width: 768px) {
  .hero-banner .video-wrapper .bg-wrapper {
    bottom: 12%;
  }
}
@media only screen and (max-width: 540px) {
  .hero-banner .video-wrapper .bg-wrapper {
    bottom: 10%;
  }
}
.hero-banner .video-wrapper .bg-wrapper .swiper {
  height: 104px;
}
@media only screen and (max-width: 540px) {
  .hero-banner .video-wrapper .bg-wrapper .swiper {
    height: 80px;
  }
}
.hero-banner .video-wrapper .bg-wrapper h1 {
  text-align: left;
  font-family: Optima;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  max-width: 492px;
}
@media only screen and (max-width: 768px) {
  .hero-banner .video-wrapper .bg-wrapper h1 {
    max-width: 80%;
    text-align: center;
    margin: auto;
    line-height: 1.2;
  }
}
@media only screen and (max-width: 540px) {
  .hero-banner .video-wrapper .bg-wrapper h1 {
    font-size: 28px;
  }
}
.hero-banner .video-wrapper .bg-wrapper h5 {
  color: var(--white);
}
@media only screen and (max-width: 540px) {
  .hero-banner .video-wrapper .bg-wrapper h5 {
    max-width: 80%;
    margin: auto;
  }
}
.hero-banner .video-wrapper .bg-wrapper p {
  color: var(--white);
  max-width: 100%;
  margin: 20px 0 20px;
  max-width: 445px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@media only screen and (max-width: 768px) {
  .hero-banner .video-wrapper .bg-wrapper p {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px auto 0;
    text-align: center;
    max-width: 505px;
  }
}
@media only screen and (max-width: 540px) {
  .hero-banner .video-wrapper .bg-wrapper p {
    max-width: 95%;
    line-height: 1.3;
  }
}
.hero-banner .video-wrapper .bg-wrapper p span:first-child {
  font-weight: 450;
  font-size: 16px;
  line-height: 100%;
  margin-right: 15px;
}
@media only screen and (max-width: 540px) {
  .hero-banner .video-wrapper .bg-wrapper p span:first-child {
    margin-right: 0;
  }
}
.hero-banner .video-wrapper .bg-wrapper p span:last-child {
  font-weight: 400;
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  .hero-banner .video-wrapper .bg-wrapper .btn {
    margin: 20px auto 0;
  }
}

.counter-sec {
  background: #FFF9F2;
  padding: 30px 0;
}
.counter-sec .grid-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 540px) {
  .counter-sec .grid-box {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 0;
  }
}
.counter-sec .grid-box .col {
  border-right: 1px solid #D8D8D8;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px 27px;
}
.counter-sec .grid-box .col:nth-child(4) {
  border-right: none;
}
@media only screen and (max-width: 1024px) {
  .counter-sec .grid-box .col {
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 10px 17px;
  }
}
@media only screen and (max-width: 540px) {
  .counter-sec .grid-box .col {
    border: none;
  }
}
.counter-sec .grid-box .col h4 {
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: var(--black);
}
@media only screen and (max-width: 768px) {
  .counter-sec .grid-box .col h4 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 540px) {
  .counter-sec .grid-box .col h4 {
    font-size: 24px;
  }
}
.counter-sec .grid-box .col p {
  color: rgba(0, 0, 0, 0.6980392157);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}
@media only screen and (max-width: 540px) {
  .counter-sec .grid-box .col p {
    font-size: 13px;
  }
}

.testimonial-section {
  overflow: hidden;
  background: #FFF9F2;
  padding: 70px 0;
}
@media only screen and (max-width: 540px) {
  .testimonial-section {
    padding: 40px 0;
  }
}
.testimonial-section .flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
@media only screen and (max-width: 768px) {
  .testimonial-section .flex-box {
    flex-direction: column;
    gap: 20px;
  }
}
.testimonial-section .colA {
  width: 35%;
}
@media only screen and (max-width: 768px) {
  .testimonial-section .colA {
    width: 100%;
    text-align: center;
  }
}
.testimonial-section .colA h2 {
  margin-bottom: 20px;
  line-height: 1;
}
@media only screen and (max-width: 768px) {
  .testimonial-section .colA p {
    max-width: 70%;
    margin: auto;
  }
}
@media only screen and (max-width: 540px) {
  .testimonial-section .colA p {
    max-width: 90%;
    line-height: 1.3;
  }
}
.testimonial-section .colA .swiper-nav {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 50px;
}
@media only screen and (max-width: 768px) {
  .testimonial-section .colA .swiper-nav {
    margin-top: 20px;
    display: none;
  }
}
.testimonial-section .colA .home-prev,
.testimonial-section .colA .home-next {
  width: 48px;
  height: 48px;
  border: 1px solid #666666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.testimonial-section .colA .home-prev:hover,
.testimonial-section .colA .home-next:hover {
  background: #8c6b1f;
  color: #fff;
  border-color: #8c6b1f;
}
.testimonial-section .colA .home-pagination {
  display: flex;
  align-items: center;
  width: auto !important;
}
.testimonial-section .colA .home-pagination .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  margin: 0 8px !important;
  opacity: 1;
  background: rgba(102, 102, 102, 0.6980392157);
  transition: 0.3s ease;
}
.testimonial-section .colA .home-pagination .swiper-pagination-bullet-active {
  width: 9px;
  height: 9px;
  outline: 2px solid #364025;
  outline-offset: 3px;
  background: #364025;
  transition: 0.3s ease;
}
.testimonial-section .colB {
  width: 65%;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  .testimonial-section .colB {
    width: 55%;
  }
}
@media only screen and (max-width: 768px) {
  .testimonial-section .colB {
    width: 100%;
  }
}
.testimonial-section .colB .swiper .swiper-wrapper .swiper-slide {
  transition: 0.5s ease;
}
.testimonial-section .colB .swiper .swiper-wrapper .swiper-slide.swiper-slide-next {
  opacity: 0.4;
}
.testimonial-section .colB .swiper .swiper-wrapper .swiper-slide .testimonial-card {
  background: #fff;
  padding: 35px;
  min-height: 430px;
}
@media only screen and (max-width: 768px) {
  .testimonial-section .colB .swiper .swiper-wrapper .swiper-slide .testimonial-card {
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media only screen and (max-width: 540px) {
  .testimonial-section .colB .swiper .swiper-wrapper .swiper-slide .testimonial-card {
    padding: 25px 24px;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}
.testimonial-section .colB .swiper .swiper-wrapper .swiper-slide .testimonial-card .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}
@media only screen and (max-width: 540px) {
  .testimonial-section .colB .swiper .swiper-wrapper .swiper-slide .testimonial-card .top {
    margin-bottom: 10px;
  }
}
.testimonial-section .colB .swiper .swiper-wrapper .swiper-slide .testimonial-card .top .user {
  border-radius: 50%;
  overflow: hidden;
}
.testimonial-section .colB .swiper .swiper-wrapper .swiper-slide .testimonial-card .top .quote {
  font-size: 80px;
  color: #c5ab72;
  line-height: 1;
}
.testimonial-section .colB .swiper .swiper-wrapper .swiper-slide .testimonial-card p {
  margin-bottom: 35px;
  max-width: 90%;
}
@media only screen and (max-width: 540px) {
  .testimonial-section .colB .swiper .swiper-wrapper .swiper-slide .testimonial-card p {
    max-width: 100%;
  }
}
.testimonial-section .colB .swiper .swiper-wrapper .swiper-slide .testimonial-card h4 {
  font-weight: 500;
  font-size: 20px;
  color: var(--black);
}
.testimonial-section .colB .swiper .swiper-wrapper .swiper-slide .testimonial-card span {
  font-family: Lato;
  font-weight: 500;
  font-size: 14px;
}

.accordian-wrapper {
  background: var(--white);
  border-radius: 10px;
  width: 100%;
  border: 1px solid #E9E9E9;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease;
}
.accordian-wrapper::before {
  content: "";
  position: absolute;
  top: 35px;
  right: 24px;
  width: 16px;
  height: 2px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.accordian-wrapper::after {
  content: "";
  position: absolute;
  top: 35px;
  right: 24px;
  width: 16px;
  height: 2px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  transform: rotate(90deg);
  transition: 0.4s ease;
}
.accordian-wrapper.open {
  border: 1px solid #9D864D;
}
.accordian-wrapper.open::before {
  background: #9D864D;
}
.accordian-wrapper.open::after {
  transform: rotate(0deg);
  background: #9D864D;
}
.accordian-wrapper.open .title {
  margin-bottom: 10px;
}
.accordian-wrapper.open .title h4 {
  color: #9D864D;
  padding: 24px 24px 10px 24px;
}
.accordian-wrapper .title {
  display: flex;
  justify-content: space-between;
  transition: 0.4s ease;
  width: 100%;
}
.accordian-wrapper .title h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.4);
  padding: 24px;
  transition: 0.4s ease;
}
.accordian-wrapper .description p {
  padding: 0px 24px 24px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  max-width: 100%;
  font-family: Poppins;
}
.accordian-wrapper figure {
  height: 429px;
  border-radius: 10px;
  overflow: hidden;
  line-height: 0;
  margin: 0 24px 24px 24px;
}
.accordian-wrapper figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-banner.not-found-banner .video-wrapper::before {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 63.46%, rgba(0, 0, 0, 0.8509803922) 100%), linear-gradient(359deg, rgba(0, 0, 0, 0.8) 24.57%, rgba(0, 0, 0, 0) 78.28%);
}
.hero-banner.not-found-banner .video-wrapper .bg-wrapper h1 {
  margin: auto;
  text-align: center;
}
.hero-banner.not-found-banner .video-wrapper .bg-wrapper p {
  max-width: 300px;
  margin: auto;
  text-align: center;
}
.hero-banner.not-found-banner .video-wrapper .bg-wrapper a {
  margin: 30px auto 0;
}

.footer-strip {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background: var(--black);
  display: none;
}
@media only screen and (max-width: 540px) {
  .footer-strip {
    display: block;
  }
}
.footer-strip ul {
  display: flex;
  flex-wrap: wrap;
}
.footer-strip ul li {
  flex: 1;
}
.footer-strip ul li:not(:last-child) {
  border-right: 1px solid rgba(192, 149, 89, 0.5);
}
.footer-strip ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 5px;
  color: var(--white);
  font-weight: 500;
}
.footer-strip ul li a svg {
  width: 25px;
  height: 25px;
  fill: var(--white);
}
.footer-strip ul li a svg path {
  fill: var(--white);
}/*# sourceMappingURL=components.css.map */